html, body {
  margin: 0 !important;
  font-family: HN;
  width: 100%;
  height: auto;
  background-color: white;
}
div{
  font-family: HN;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover{
  color: @blue;
}
button:focus {
  outline:0;
}

@font-face{
  font-family: 'HN';
  src: url('public/fonts/HelveticaNeue.otf');
}

@font-face{
  font-family: 'HN-B';
  src: url('public/fonts/HelveticaNeue-Bold.otf');
}

@font-face{
  font-family: 'HN-L';
  src: url('public/fonts/HelveticaNeue-Light.otf');
}

@font-face{
  font-family: 'HN-T';
  src: url('public/fonts/HelveticaNeue-Thin.otf');
}

@font-face{
  font-family: 'HN-UL';
  src: url('public/fonts/HelveticaNeue-UltraLight.otf');
}

.ad_location{
  width:100%;
  height:250px;
  background-color: #ccc;
}

.ceo_dollar_salary{
  border: none;
  overflow: hidden;
  width:300px;
  height:600px;
  margin: 0 auto 0 auto;
}

.cds{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  width:100%;
  height:350px;
  position: relative;
}

/*top text*/
.cds-logo{
  width:25px;
  height:25px;
  background-color: #3098ff;
  background-image: url("public/Fin_Widget_Icon.png");
  background-position: center center !important;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 7px 5px;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

.cds-logo:hover{
  background-color: #000;
}

.cds-text{
  width:100%;
  height:50px;
  padding-top: 2px;
  padding-left: 35px;
  position:relative;
}

.cds-t1{
  position: absolute;
  top: 0;
  margin-top: 2px;
  font-family:HN-B;
  font-size:18px;
  font-weight: 700;
  text-align: right;
  line-height: 16px;
  white-space: nowrap;
  transform: scaleX(1.0002);
}

.cds-t2{
  color:  #3098ff;
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  font-size:14px;
  font-weight: 700;
  text-align: right;
  line-height: 1.7em;
}

/*top text END*/

/*image && button*/
.cds-middle{
  position: relative;
  width:100%;
  height:155px;
}

.cds-image{
  width:144px;
  height:144px;
  margin:5px auto;
  border-radius: 50%;
  border-width: 3px;
  border-color:  #cccccc;
  border-style: solid;
  background-color:  #ffffff;
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  position: relative;
}

.cds-share{
  border-radius: 50%;
  border-width: 1px;
  border-color: #ebebeb;
  border-style: solid;
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: -15px;
  z-index: 1;
  color: #fff;
  font-size: 25px;
  text-align: center;
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat;
}

/*.cds-share:hover{
  background-color: #3098ff;
  opacity: 0.85;
}*/

/*.cds-image:hover{
  border-radius: 50%;
  border-width: 3px;
  border-color:  #cccccc;
  border-style: solid;
  background-color:  #3098ff;
  opacity: .85;
  width: 144px;
  height: 144px;
  color:  #ffffff;
  font-size: 32px;
  font-weight: 300;
  line-height: 24.004px;
  text-align: center;
}*/

.hover{
  width:100%;
  height:100%;
  border-radius: 50%;
  opacity: 0;
  text-align: center;
  font-weight: 700;
}

.hover-txt1{
  padding-top: 35px;
  font-size: 32px;
  font-family: HN;
  color: #fff;
  font-weight: 300;
}

.hover-txt2{
  font-size: 18px;
  font-family: HN;
  color: #fff;
  font-weight: 700;
}

.hover:hover{
  opacity: 1;
  background:rgba(48,152,255,0.75);
}

.fontsize{
  line-height: 45px;
  font-size: 25px;
}

.cds-leftnav{
  position: absolute;
  height:60px;
  width:30px;
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  border:none;
  left: 0;
  top:20%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}

.cds-rightnav{
  height:60px;
  width:30px;
  border-radius: 90px 0 0 90px;
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  border:none;
  position: absolute;
  right: 0;
  top:20%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}

.cds-leftnav:hover{
  background-color:  #3098ff;
}

.cds-rightnav:hover{
  background-color:  #3098ff;
}
/*image && button END*/

/*bottom text*/
.cds-content{
  width:100%;
  height:45px;
}

.cds-content1{
  font-size: 22px;
  color:#3098ff;
  font-weight: 700;
  line-height: 20px
  font-family: HN-B;
  text-align: center;
}

.cds-content2{
  font-size: 18px;
  color:#000000;
  text-align: center;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  transform: scaleX(1.0002);
}
/*bottom text END*/

.cds-list{
  width: 100%;
  height: 30px;
  text-align: center;
  bottom:0;
  margin: 10px 0 5px 0;
}

.cds-list-link{
  border-radius: 3px;
  border-width: 1px;
  background-color: #fff;
  border-color:  #3098ff;
  border-style: solid;
  width: 120px;
  height: 100%;
  color: #000;
  line-height: 28px;
  font-weight: 700;
  font-size: 10px;
  font-family: HN;
  margin: auto;
}

.cds-presentedby{
    position: absolute;
    bottom: 0px;
    left: 2px;
    color:#aaaaaa;
    text-align: left;
    font-size: 12px;
}

.cds-list-link:hover{
  background-color: #3098ff;
  color: #fff;
}

.cds-list-link:active{
  background-color: #000;
  color: #fff;
}

.cds-rightnav:active{
  background-color: #39abff;
}

.cds-leftnav:active{
  background-color: #39abff;
}

#swc-blue{
  color:#3aaefe;
}

.swc-space{
  margin:0 2px;
}
.cds-t2-title{
  color: #000;
  font-weight: 400;
}
.cds-t2-title:hover{
  color:#39abff;
}
.cds-loc{
  color: #000;
  font-weight: 400;
}
.cds-loc:hover{
  color:#39abff;
}
