a:hover {
    color: #f6af05;
}
#verticalName {
  background-color: #f6af05;
}
#verticalName a {
  color: #272727!important;
}
.dw-nav{
    background-color: #f6af05!important;
    fill: #272727;
    stroke: #272727;
}
.dw-nav:hover {
    background-color: black!important;
    border-color: black!important;
    fill: white;
}

#homelink>div {
  background-image:url(../css/public/Icon_Crime.svg);
  margin-top: -1px;
}

.dw-btn {
    border-color: #f6af05!important;
    background-color: #f6af05 !important;
    color: #272727!important;
    fill: #272727!important;
    stroke: #272727!important;
}
.dw-btn:hover {
    border-color: black!important;
    background-color: black !important;
    color: white!important;
    fill: white!important;
    stroke: white!important;
}
#next-list-link .dw-btn{
  border-color: #f6af05!important;
  background-color: white !important;
  color: #272727!important;
  fill: #272727!important;
  stroke: #272727!important;
}
#next-list-link .dw-btn:hover{
  border-color: black!important;
  background-color: black !important;
  color: white!important;
  fill: white!important;
  stroke: white!important;
}

.bg-img .dw-btn {
    border-color: #f2f2f2!important;
    background-color: #f2f2f2 !important;
    color: #272727!important;
    fill: #272727;
    stroke: #272727;
}

.bg-img .dw-btn:hover {
  background-color: #272727!important;
  border-color: #272727!important;
  color: white!important;
  fill: white;
  stroke: white;
}

.bg-img #next-list-link .dw-btn{
  border-color: white!important;
  background-color: transparent !important;
  color: white!important;
  fill: white;
  stroke: white;
}
.bg-img #next-list-link .dw-btn:hover{
  border-color: #272727!important;
  background-color: #272727 !important;
  color: white!important;
  fill: white;
  stroke: white
}

.hover {
    background: rgba(246,175,5,0.85)!important;
