html,
body {
    margin: 0!important;
    font-family: Lato;
    width: 100%;
    height: auto;
    background-color: #ccc
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    outline: 0
}
i {
  font-style: normal;
  margin-left: 5px;
  font-family: 'Source Sans Pro', Helvetica, Arial , sans-serif;
  font-size: 15px;
  vertical-align: top;
}

.dw {
    width: 939px;
    height: 248px;
    box-shadow: 0 0 0 1px #b7b7b7 inset;
    background-color: #fafafa;
    position: relative;
    margin: 0 auto
}

#title {
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    width: 670px;
    min-height: 40px;
    text-align: left;
    padding: 10px 15px 10px 15px;
}

#verticalName {
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    min-height: 10px;
    text-align: left;
    color:white;
    padding: 5px 15px;
    text-transform: uppercase;
}
#verticalName a {
  color: white;
}

#homelink > div {
  height: 12px;
  width: 12px;
  vertical-align: top;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right:5px;
}

#carousel {
    width: 100%;
    height: 140px;
    position: absolute;
    top: 75px
}

.dw-nav {
  height: 50px;
  width: 20px;
    position: absolute;
    top: 100px;
    color: white;
    background-color: black;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dw-c-l {
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.dw-c-r {
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.dw-c-img {
    position: absolute;
    left: 53px!important;
    border: 3px solid #ccc
}

.hover {
    display: none;
    padding: 43px 0;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    color: white
}

.img-link:hover .hover {
    display: block;
    z-index: 3
}

.img-link:hover .dw-big {
    z-index: 2
}

.dw-big {
    width: 140px;
    height: 140px;
    border-radius: 50%
}

.dw-big span {
    font-size: 18px;
    font-weight: bold
}

#num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    top: 0;
    left: 60px;
    background-color: white;
    z-index: 4
}

.dw-c-sub {
    position: absolute;
    left: 140px;
    border: 1px solid #ccc
}

#subimg {
    display: none
}

.dw-c-sub svg {
    color: white;
    fill: white;
    stroke: white;
    display: none;
    margin: 7px 8px
}

.two #subimg {
    display: none;
}

.two .dw-info {
    left: 320px;
    width: 320px
}

.one #subimg {
    display: none!important
}

.one .dw-info {
    position: absolute!important;
    left: 235px!important;
    width: calc(100% - 187px)!important;
    padding-right: 78px;
}

.two .dw-info {
    position: absolute!important;
    left: 235px!important;
    width: calc(100% - 187px)!important;
    padding-right: 78px;
}

.dw-info {
    position: absolute;
    left: 250px;
    width: 390px
}

.dw-i-title {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold
}
#desc {
  overflow: visible;
  white-space: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 20px;
  display: inline-block;
}
#line4 {
  display: inline-block;
}

.dw-i-title a {
    color: inherit
}

.dw-i-title#line2,
.dw-i-title#line4 {
    line-height: 20px;
    font-size: 14px;
    font-weight: unset;
    color: #000!important
}


#list-link {
    height: 0;
}

#list-link .dw-btn {
  margin-right: 5px;
}

#next-list-link .dw-btn{
  display: inline-block;
  margin-left: 0px;
}

#next-list-link .dw-btn svg{
  margin-bottom: 1px;
}

.dw-btn {
  display: inline-block;
  color: white;
  background-color: white;
  font-size: 11px;
  line-height: 26px;
  width: 42%;
  height: 28px;
  border-radius: 3px;
  position: relative;
  left: 0px;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  fill: white;
  stroke: white;
  white-space: nowrap;
  overflow: hidden;
}

.dw-btn svg {
    margin: 0 0 0 5px;
    position: relative;
    top: 2.5px
}

.dw-btn:hover {
    color: white;
    stroke: white;
    fill: white
}

.dw-btn:active {
    color: white;
    stroke: white;
    fill: white;
    background-color: black
}

.presented {
    text-align: right;
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    color: #999;
    left: 5px;
    top: 5px
}

@media screen and (max-width:938px) {
    .dw {
        width: calc(100% - 2px)
    }
    #title {
        width: auto;
        max-width:100%;
        padding-right: 10px;
    }
    .dw-big {
      min-width: 125px;
      min-height: 125px;
      max-width: 140px;
      max-height: 140px;
      height: 21vw;
      width: 21vw;
    }
    .hover {
        padding: 36px 0
    }
    .dw-c-img,
    #num {
        left: 9%!important;
    }
    .dw-c-sub {
        z-index: 4;
        left: 125px;
        top: 85px;
        width: 40px;
        height: 40px
    }
    .dw-c-sub,
    .dw-c-sub span {
        font-size: 0;
        line-height: 0;
        padding: 0
    }
    .dw-c-sub svg {
        display: block
    }
    .dw-info,
    .two .dw-info {
        left: 175px;
        width: calc(100% - 205px)
    }
    .one .dw-info {
        left: calc(21vw + 90px)!important;
        width: calc(100% - 187px)!important;
        padding-right: 10%;
    }
    .two .dw-info {
        left: calc(21vw + 90px)!important;
        width: calc(100% - 187px)!important;
        padding-right: 10%;
    }
    .dw-i-title {
        font-size: 16px;
        line-height: 20px;
    }
    .dw-i-title#line2,
    .dw-i-title#line4 {
        font-size: 14px;
        line-height: 15px
    }
    #line4 {
        white-space: normal
    }
    .dw-btn {
      width:42%;
      margin-top: 10px;
      font-size: 12px;
    }
}

@media screen and (max-width: 485px) {
  a:first-of-type .dw-btn i {
    display: none;
  }
  #list-link .dw-btn{
    margin-right: 0px;
  }
}

@media screen and (max-width:410px) {
  .button-holder {
    width: 125%;
  }
  .dw-btn {
    width: 75px;
  }
  #list-link .dw-btn {
    width:95px;
  }
  .one .dw-info {
    padding-right:30px;
    width: calc(100% - 165px)!important;
  }
  .two .dw-info {
    padding-right:30px;
    width: calc(100% - 165px)!important;
  }
  .dw-i-title#desc {
    padding-right:30px;
  }
  .dw-i-title#line2,
  .dw-i-title#line4 {
      font-size: 12px;
      line-height: 14px;
  }
  #desc {
        margin-top: 15px;
  }
}

@media screen and (max-width:340px) {
    .dw {
        width: calc(100% - 2px)
    }
    #title {
        width: 320px
    }
    .dw-big {
        width: 125px;
        height: 125px
    }
    .hover {
        padding: 36px 0
    }
    .dw-c-img,
    #num {
        left: 30px
    }
    #num{
        width:35px;
        height:35px;
        font-size: 10px;
        line-height: 32px;
    }
    .dw-c-sub {
        z-index: 4;
        left: 125px;
        top: 85px;
        width: 40px;
        height: 40px
    }
    .dw-c-sub,
    .dw-c-sub span {
        font-size: 0;
        line-height: 0;
        padding: 0
    }
    .dw-c-sub svg {
        display: block
    }
    .dw-info,
    .two .dw-info {
        left: 160px!important;
        width: calc(100% - 155px)!important
    }
    .one .dw-info {
        left: 160px!important;
        width: calc(100% - 155px)!important
    }
    .dw-i-title {
        font-size: 14px;
        line-height: 20px
    }
    .dw-i-title#line2,
    .dw-i-title#line4 {
        font-size: 12px;
        line-height: 14px
    }
    .dw-i-title#line2 {
    margin-top: -3px;
    }
    #line4 {
        white-space: normal
    }
    .dw-btn {
        width:75px;
        margin-top: 10px;
    }
    .dw-btn i {
      font-size: 12px;
    }
}
