html,
body {
    margin: 0!important;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: auto;
    background-color: #ccc
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    outline: 0
}
i {
  font-style: normal;
  margin-left: 5px;
  font-family: 'Source Sans Pro', Helvetica, Arial , sans-serif;
  font-size: 15px;
  vertical-align: top;
}

.dw {
    width: 300px;
    height: 350px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    box-sizing: content-box;
}

#title {
  position: absolute;
  bottom: 5px;
  color: white;
  /*min-height: 44px;*/
  text-align: left;
  padding: 10px 30px 5px 30px;
  z-index: 2;

  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.44;
}
#verticalName {
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    height:40px;
    text-align: left;
    background-color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
}
#pub_logo {
  width: 170px;
  height: 20px;
  float:left;
  background-repeat: no-repeat;
  background-position: left center;
}
#verticalDisplayName {
  width: 125px;
  height: 70px;
  position: absolute;
  top: 0;
  z-index: 4;
}
#verticalName a {
  color: #072f64;
}
.shareIcons {
  margin-top:2px;
  height: 15px;
  float:right;
}
.shareIcon {
  width: 22px;
  height: 15px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.shareIcon img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#shareSuccess {
  display: none;
  position: absolute;
  width: 163px;
  height: 29px;
  right: 0;
  text-align: center;
  padding-top: 6px;
  z-index: 999;
  background-color: rgb(255, 255, 255);
	border: solid 1px #666666;
  font-size: 12px;
  color: #666666;
  text-transform: none;
  margin-right: 10px;
  margin-top: 7px;
}

.arrow-up {
  position: absolute;
  left: -7px;
  top: 1px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(255, 255, 255);
}

.arrow-up-border {
  position: absolute;
  top: -7px;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #666666;
}

#carousel {
    width: 300px;
    height: 169px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#mainimg {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
#carousel:hover #mainimg {
  -webkit-transform: scale(1.08) translateY(-50%);
  transform: scale(1.08) translateY(-50%);
}
#carousel:hover .carouselShader {
  /*background-image: none;*/
}
#carouselOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  z-index: 1;
}
.football {
  background-image: linear-gradient(to bottom, #004e87, #012b4a);
}
.basketball {
  background-image: linear-gradient(to bottom, #f26f26, #bc3900);
}
.baseball {
  background-image: linear-gradient(to bottom, #bc2026, #630306);
}
.finance {
  background-image: linear-gradient(to bottom, #3098ff, #015cb6);
}
.realestate {
  background-image: linear-gradient(to bottom, #43b149, #1e4e20);
}
#fallbackNum {
  opacity: 0.4;
	font-family: Lato;
	font-size: 120px;
	font-weight: bold;
  color: #000000;
  left: 50%;
  top: 10px;
  position: absolute;
  transform: translateX(-50%);
}
.carouselShader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0,0,0,0.75));
  z-index: 1;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease
}
.carouselShaderHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  z-index: 1;
}
.disabled-button {
  opacity: 0.3;
  pointer-events: none;
}
.dw-nav {
    height: 50px;
    width: 20px;
    position: absolute;
    top: 95px;
    color: white;
    background-color: rgba(255, 255, 255, 0.85);
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index:3;
}

.dw-c-l {
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.dw-c-r {
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.dw-c-img {
    position: absolute;
}

.hover {
    display: none;
}

.img-link:hover .hover {
    display: none;
}

.dw-big {
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.dw-big span {
    font-size: 18px;
    font-weight: bold
}

#num {
  left: 0;
  margin-left: -57px;
  position: absolute;
  top: calc(50% - 12px);
  font-size: 18px;
  width: 55px;
  height: 20px;
  text-align: center;
  font-weight: 700;
}
#num hash {
  font-size: 14px;
  font-weight: 300;
}

.dw-c-sub {
    position: absolute;
    left: 115px;
    border: 1px solid #ccc
}

#subimg {
    display: none
}

.two #subimg {
    display: block
}

.two .dw-c-img {
}

.two #num {
    left: 41px
}

.one #subimg {
    display: none !important
}

.one #num{
  left: 78px !important
}

.one .dw-c-img {
}

.dw-info {
    position: relative;
    margin: 10px 15px 5px;
    max-height: 120px;
    width: calc(100% - 68px);
    float:right;
}

.dw-i-title {
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#line2 {
  font-size: 12px;
}
.highlight {
  font-size:14px;
}
.dw-i-title a {
    color: inherit
}
#list-link {
    height: 0;
    display: inline-block;
}

#title-link {
  color: black;
  cursor: pointer;
}

#desc {
    width: 100%;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#desc p {
  margin: 0;
}
#meta {
  position: absolute;;
  margin-top: 5px;
  font-family: Lato;
  font-size: 10px;
  color: #9b9b9b;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#next-list-link .dw-btn{
  display: inline-block;
  margin-left: 155px;
  width: 130px;
  border: solid 1px #999999;
  color: #9b9b9b;
  fill: #9b9b9b;
}

#next-list-link .dw-btn svg{
  margin-bottom: 2px;
}

#next-list-link .dw-btn:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #272727;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#next-list-link .dw-btn:hover:before{
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#list-link .dw-btn {
  width: 130px;
  margin-left: 15px;
}

#list-link .dw-btn:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#list-link .dw-btn:hover:before{
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dw-btn {
    display: inline-block;
    color: white;
    background-color: white;
    font-size: 12px;
    line-height: 33px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    border: solid 1px #072f64;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color, fill;
    transition-property: color, fill;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.dw-btn svg {
    margin: 0 0 0 5px;
    position: relative;
    top: 2.5px
}

#list-link .dw-btn:hover {
    color: white;
    fill: white;
}

#next-list-link .dw-btn:hover {
    color: white;
    fill: white;
}

.dw-btn:active {
    color: white;
    stroke: white;
    fill: white;
    background-color: #272727
}

.presented {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    color: #999;
    left: 4px;
    bottom: 4px
}
/*fix for global css bleeding in from parent page*/
.widget_zone iframe {
  margin: 0;
}
