/* General styles */
html, body {
  margin: 0 !important;
  font-family: lato
  width: 100%;
  height: auto;
  background-color: #ccc;
}
div{
  font-family: lato;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline:0;
}
button {
  outline: 0;
  border: none;
}
button:focus {
  outline:0;
}

.dw {
  width: 300px;
  height: 300px;
  background-color: #fafafa;
  position: relative;
  margin: 0 auto;
}

/* For things with a background image */
.bg-img {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.dw-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  width: 300px;
  min-height: 44px;
  text-align: left;
  padding: 5px 5px 5px 45px;
}
.dw-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: auto;
  position: absolute;
  left: 10px;
  top: 5px;
}
.dw-icon:hover {
  background-color: black;
}

.dw-carousel {
  width: 300px;
  height: 125px;
  position: relative;
}
/* Nav Buttons */
.dw-nav {
  height: 60px;
  width: 30px;
  position: absolute;
  top: 120px;
  color: white;
  background-color: black;
  display: block;
  font-size: 25px;
  cursor: pointer;
  padding: 0 4px;
}
.dw-c-l {
  left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: left;
}
.dw-c-r {
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: right;
}
/* Images */
.dw-c-img {
  position: absolute;
  left: 78px;
  border: 3px solid #ccc;
  background-color: #fff;
}
.hover {
  display: none;
  width: 100%;
  height: 100%;
  padding: 38px 0;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
  color: white;
  border-radius: 50%;
}
.dw-big:hover .hover {
  display: block;
}
.dw-sm {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ccc;
  position: absolute;
}
.dw-big {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.dw-c-num {
  font-size: 14px;
  line-height: 33px;
  text-align: center;
  top: 0px;
  left: 78px;
  background-color: white;
}
.dw-c-sub {
  position: absolute;
  left: 130px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.dw-c-sub:hover {
  z-index: 2;
}
#subimg {
  display: none;
}

/* Styles for 2 images */
.two #subimg {
  display: block;
}
.two .dw-c-img {
  left: 45px;
}
.two .dw-c-num {
  left: 45px;
}

/* Item information */
.dw-info {
  margin: 5px 20px 10px;
  width: 260px;
}
.dw-i-title {
  width: 260px;
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
}
.dw-i-title#line2 {
  line-height: 14px;
  font-size: 12px;
}
#list-link{
  width: 0;
  height: 0;
  display: inline-block;
}
.dw-i-desc {
  width: 100%;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  font-weight: bold;
}

.dw-btn {
  color: black;
  background-color: white;
  font-size: 11px;
  line-height: 26px;
  width: 118px;
  height: 28px;
  border-radius: 3px;
  position: relative;
  left: 90px;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
}
.dw-btn .fa {
  margin-left: 5px;
}
.dw-btn:hover {
  color: white;
}
.dw-btn:active {
  color: white;
  background-color: black;
}

.dw-presented {
  position: absolute;
  bottom: 5px;
  left: 6px;
  color: #000;
  font-size: 10px;
  text-align: left;
  font-weight: 400;
}
