a:hover {
    color: #0083B1;
}
#verticalName {
  background-color: #0083B1;
}
.dw-nav{
    background-color: #0083B1!important;
}
.dw-btn:hover,
.dw-nav:hover {
    background-color: #272727!important;
    border-color: #272727!important;
}

#homelink>div {
    background-image: url(../css/public/Icon_Food.svg);
}

.dw-btn {
    border-color: #0083B1!important;
    background-color: #0083B1 !important;
    color: white!important;
}
#next-list-link .dw-btn{
  border-color: #0083B1!important;
  background-color: white !important;
  color: #0083B1!important;
  fill: #0083B1;
  stroke: #0083B1;
}
#next-list-link .dw-btn:hover{
  border-color: #272727!important;
  background-color: #272727 !important;
  color: white!important;
  fill: white;
  stroke: white
}

.bg-img .dw-btn {
    border-color: #f2f2f2!important;
    background-color: #f2f2f2 !important;
    color: #0083B1!important;
    fill: #000083B1c0083B15a0;
    stroke: #0083B1;
}

.bg-img .dw-btn:hover {
  background-color: #272727!important;
  border-color: #272727!important;
  color: white!important;
  fill: white;
  stroke: white;
}

.bg-img #next-list-link .dw-btn{
  border-color: white!important;
  background-color: transparent !important;
  color: white!important;
  fill: white;
  stroke: white;
}
.bg-img #next-list-link .dw-btn:hover{
  border-color: #272727!important;
  background-color: #272727 !important;
  color: white!important;
  fill: white;
  stroke: white
}

#line1:hover {
  color: #0083B1;
}
.hover {
    background: rgba(0, 131, 177, 0.75)!important;
