a:hover {
    color: #65398e;
}
#verticalName {
  background-color: #65398e;
}
.dw-nav{
    background-color: #65398e!important;
}
.dw-btn:hover,
.dw-nav:hover {
    background-color: black!important;
    border-color: black!important;
}

#homelink>div {
    background-image: url(../css/public/Icon_Demographic_White.png);
}

.dw-btn {
    border-color: #65398e!important;
    background-color: #65398e !important;
    color: white!important;
}
#next-list-link .dw-btn{
  border-color: #65398e!important;
  background-color: white !important;
  color: #65398e!important;
  fill: #65398e;
  stroke: #65398e;
}
#next-list-link .dw-btn:hover{
  border-color: black!important;
  background-color: black !important;
  color: white!important;
  fill: white;
  stroke: white
}

.hover {
    background: rgba(101,57,142,0.85)!important;
