html,
body {
  margin: 0!important;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: auto;
  background-color: #ccc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.dw {
  width: 300px;
  height: auto;
  background-color: #fafafa;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}
.sixteen-nine {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  overflow: hidden;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.main-art{
  height: 350px;
  box-shadow: 0 0 0 1px #b7b7b7 inset;
  margin-bottom: 20px;
}
.main-nav{
  color: #005baf;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  width: 100%;
}
.main-thumb{
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}
.main-car{
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.main-title{
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 25px;
  max-height: 68px;/*TODO: do this inside js file*/
  overflow: hidden;
}
.main-teaser{
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 25px 14px 25px;
  max-height: 88px;
  overflow: hidden;
}
.main-btn{
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  float: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  margin-right: 25px;
  padding: 0 16px 0 16px;
  background: #3879CD; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3879CD, #005CB0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3879CD, #005CB0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3879CD, #005CB0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3879CD, #005CB0); /* Standard syntax */
}
.main-btn:hover{
  text-decoration: underline;
  background: #3879CD; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3879CD, #3879CD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3879CD, #3879CD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3879CD, #3879CD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3879CD, #3879CD); /* Standard syntax */
}
.main-ad{
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: auto;
}
.main-ad-txt{
  color: #ccc;
  font-size: 10px;
  padding: 5px 10px 0 0;
  text-decoration: none;
}
#adSpot{
  background: #d3d3d3;
  width: 300px;
  height: 250px;
}
