a:hover {
  color: #62a95e;
}
.dw-icon {
  background-color: #62a95e;
  background-image: url("../css/public/Independent_Icon.png");
}
.dw-nav:hover {
  background: rgba(98,169,94,0.75);
}
.dw-i-title {
  color: #62a95e;
}
.dw-i-title a {
  color: #62a95e;
}
.dw-btn {
  border-color: #62a95e;
}
.dw-btn:hover {
  background-color: #62a95e;
}
.hover {
  background: rgba(98,169,94,0.75);
}
