a:hover{color:#0e477f}#homelink > div{background-color:#0e477f;background-image:url(../css/public/Logo_Political_Democrat.png)}.dw-nav:hover{background:rgba(14,71,127,0.85)}.dw-btn{border-color:#0e477f!important}.dw-btn:hover{background-color:#0e477f}.hover{background:rgba(14,71,127,0.85)!important}
a:hover {
    color: #0e477f;
}
#verticalName {
  background-color: #0e477f;
}
.dw-nav{
    background-color: #0e477f!important;
}
.dw-btn:hover,
.dw-nav:hover {
    background-color: black!important;
    border-color: black!important;
}

#homelink>div {
    background-image: url(../css/public/Logo_Political_Democrat.svg);
}

.dw-btn {
    border-color: #0e477f!important;
    background-color: #0e477f !important;
    color: white!important;
}
#next-list-link .dw-btn{
  border-color: #0e477f!important;
  background-color: white !important;
  color: #0e477f!important;
  fill: #0e477f;
  stroke: #0e477f;
}
#next-list-link .dw-btn:hover{
  border-color: black!important;
  background-color: black !important;
  color: white!important;
  fill: white;
  stroke: white
}

.bg-img .dw-btn {
    border-color: #f2f2f2!important;
    background-color: #f2f2f2 !important;
    color: #0e477f!important;
    fill: #0e477f;
    stroke: #0e477f;
}

.bg-img .dw-btn:hover {
  background-color: #272727!important;
  border-color: #272727!important;
  color: white!important;
  fill: white;
  stroke: white;
}

.bg-img #next-list-link .dw-btn{
  border-color: white!important;
  background-color: transparent !important;
  color: white!important;
  fill: white;
  stroke: white;
}
.bg-img #next-list-link .dw-btn:hover{
  border-color: #272727!important;
  background-color: #272727 !important;
  color: white!important;
  fill: white;
  stroke: white
}

.hover {
    background: rgba(14,71,127,0.85)!important;
