a:hover {
    color: #62a95e;
}
#verticalName {
  background-color: #62a95e;
}
.dw-nav{
    background-color: #62a95e!important;
}
.dw-btn:hover,
.dw-nav:hover {
    background-color: black!important;
    border-color: black!important;
}

#homelink>div {
    background-image: url(../css/public/Independent_Icon.png);
}

.dw-btn {
    border-color: #62a95e!important;
    background-color: #62a95e !important;
    color: white!important;
}
#next-list-link .dw-btn{
  border-color: #62a95e!important;
  background-color: white !important;
  color: #62a95e!important;
  fill: #62a95e;
  stroke: #62a95e;
}
#next-list-link .dw-btn:hover{
  border-color: black!important;
  background-color: black !important;
  color: white!important;
  fill: white;
  stroke: white
}

.hover {
    background: rgba(98,169,94,0.75)!important;
