a:hover {
  color: #ff0101;
}
.dw-icon {
  background-color: #ff0101;
  background-image: url("../css/public/Logo_Political_Republican.png");
}
.dw-nav:hover {
  background: rgba(255,1,1,0.75);
}
.dw-i-title {
  color: #ff0101;
}
.dw-i-title a {
  color: #ff0101;
}
.dw-btn {
  border-color: #ff0101;
}
.dw-btn:hover {
  background-color: #ff0101;
}
.hover {
  background: rgba(255,1,1,0.75);
}
