a:hover {
    color: #ce3b27;
}
#verticalName {
  background-color: #ce3b27;
}
.dw-nav{
    background-color: #ce3b27!important;
}
.dw-btn:hover,
.dw-nav:hover {
    background-color: black!important;
    border-color: black!important;
}

#homelink>div {
    background-image: url(../css/public/Icon_Basketball.png);
}

.dw-btn {
    border-color: #ce3b27!important;
    background-color: #ce3b27 !important;
    color: white!important;
}
#next-list-link .dw-btn{
  border-color: #ce3b27!important;
  background-color: white !important;
  color: #ce3b27!important;
  fill: #ce3b27;
  stroke: #ce3b27;
}
#next-list-link .dw-btn:hover{
  border-color: black!important;
  background-color: black !important;
  color: white!important;
  fill: white;
  stroke: white
}

.bg-img .dw-btn {
    border-color: #f2f2f2!important;
    background-color: #f2f2f2 !important;
    color: #ce3b27!important;
    fill: #ce3b27;
    stroke: #ce3b27;
}

.bg-img .dw-btn:hover {
  background-color: #272727!important;
  border-color: #272727!important;
  color: white!important;
  fill: white;
  stroke: white;
}

.bg-img #next-list-link .dw-btn{
  border-color: white!important;
  background-color: transparent !important;
  color: white!important;
  fill: white;
  stroke: white;
}
.bg-img #next-list-link .dw-btn:hover{
  border-color: #272727!important;
  background-color: #272727 !important;
  color: white!important;
  fill: white;
  stroke: white
}

.hover {
    background: rgba(247,112,29,0.75)!important;
