a:hover{color:#0e477f}#homelink > div{background-color:#0e477f;background-image:url(../css/public/Logo_Political_Democrat.png)}.dw-nav:hover{background:rgba(14,71,127,0.85)}.dw-i-title{color:#0e477f}.dw-btn{border-color:#0e477f!important}.dw-btn:hover{background-color:#0e477f}.hover{background:rgba(14,71,127,0.85)!important}
a:hover {
    color: #0e477f;
}
#verticalName {
  background-color: #0e477f;
}
.dw-nav{
    background-color: #0e477f!important;
}
.dw-btn:hover,
.dw-nav:hover {
    background-color: black!important;
    border-color: black!important;
}

#homelink>div {
    background-image: url(../css/public/Logo_Political_Democrat.svg);
}

.dw-btn {
    border-color: #0e477f!important;
    background-color: #0e477f !important;
    color: white!important;
}
#next-list-link .dw-btn{
  border-color: #0e477f!important;
  background-color: white !important;
  color: #0e477f!important;
  fill: #0e477f;
  stroke: #0e477f;
}
#next-list-link .dw-btn:hover{
  border-color: black!important;
  background-color: black !important;
  color: white!important;
  fill: white;
  stroke: white
}

.hover {
    background: rgba(14,71,127,0.85)!important;
