a:hover {
  color: #902d8e;
}
.dw-icon {
  background-color: #902d8e;
  background-image: url("../css/public/Icon_Disaster.png");
  background-position: 4px 3px;
}
.dw-nav:hover {
  background: rgba(144, 45, 142, 0.85);
}
.dw-i-title {
  color: #902d8e;
}
.dw-i-title a {
  color: #902d8e;
}
.dw-btn {
  border-color: #902d8e;
}
.dw-btn:hover {
  background-color: #902d8e;
}
.hover {
  background: rgba(144, 45, 142, 0.85);
}
