html,
body {
    margin: 0!important;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: auto;
    background-color: #fff
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    outline: 0;
    color: #005baf;
    cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
i {
  font-family: 'Source Sans Pro', Helvetica, Arial , sans-serif;
}
.sixteen-nine {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  overflow: hidden;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.sixteen-nine > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.dw {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    width: 600px;/*KBB limit*/
}
.navBar{
  align-items: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navBar-url{
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #edf3f9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #edf3f9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #edf3f9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #edf3f9); /* Standard syntax */
  border: 1px solid #bec8d3;
  border-left: 0;
  color: #005cb0;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  height: 30px;
  padding: 0 16px 0 16px;

}
.navBar-url:first-child{
  border-top-left-radius: 4px;
  border-left: 1px solid #bec8d3;
}
.navBar-url:last-child{
  border-top-right-radius: 4px;
}
.navBar-url.selected{
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #fff); /* Standard syntax */
  border-bottom: 0;
  color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 40px;
  line-height: 36px;
}
.navBar-url.selected:hover{
  cursor: default;
  text-decoration: none;
}
/*.navBar-item{
  display: inline-block;
}*/
.main{
  display: flex;
  margin: 20px auto;
}
.main-art{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.main-thumb{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-car{
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.main-nav{
  color: #005baf;
  font-size: 24px;
  text-align: center;
  width: 100%;
  display: inline-block;
}
.main-details{
  height: 148px;
  overflow: hidden;
}
.main-title{
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 25px;
  max-height: 68px;/*TODO: do this inside js file*/
  overflow: hidden;
}
.main-teaser{
  color: #333;
  font-size: 14px;
  font-weight: 400px;
  line-height: 22px;
  margin: 0 25px;
  max-height: 88px;
  overflow: hidden;
}
.main-car{
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.main-ad{
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: auto;
}
.main-ad-txt{
  color: #ccc;
  font-size: 10px;
  padding: 5px 10px 0 0;
}
#adSpot{
  background: #d3d3d3;
  width: 300px;
  height: 250px;
}
.thumbnails{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
.thumbnails-item{
   width: calc(1/3*100% - (1 - 1/3)*15px);
}
.thumbnails-title{
  color: #005cb0;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 14px;
}
.play-button{
  align-items: center;
  background: rgba(255,255,255,.7);
  border-radius: 50%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
}
.play-button.large{
  bottom: 40px;
  font-size: 32px;
  height: 60px;
  left: 95px;
  padding: 4px;
  width: 60px;
}
.play-button.large svg{
  width: 60px;
}
.play-button.small{
  bottom: 10px;
  font-size: 20px;
  height: 28px;
  left: 5px;
  padding: 4px;
  width: 28px;
}
.play-button.small svg{
  width: 28px;
}
