
html, body {
  margin: 0 !important;
  font-family: HN;
  width: 100%;
  height: auto;
  background-color: @white;
}
div{
  font-family: HN;
}
  * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  a{
    text-decoration: none;
    outline:0;
  }

  @font-face{
    font-family: 'HN';
    src: url('public/fonts/HelveticaNeue.otf');
  }

  @font-face{
    font-family: 'HN-B';
    src: url('public/fonts/HelveticaNeue-Bold.otf');
  }

  @font-face{
    font-family: 'HN-L';
    src: url('public/fonts/HelveticaNeue-Light.otf');
  }

  @font-face{
    font-family: 'HN-T';
    src: url('public/fonts/HelveticaNeue-Thin.otf');
  }

  @font-face{
    font-family: 'HN-UL';
    src: url('public/fonts/HelveticaNeue-UltraLight.otf');
  }

  .national_widget-content-image,
  .national_widget-listbutton-icon{
  background-repeat:no-repeat;
  background-position:center center!important
  }
  .n_w_container{
  width:300px;
  height:auto;
  overflow:hidden;
  margin:0 auto;
  z-index:20;
}
  .ad_location{
  width:300px;
  height:250px;
  opacity:0
  }
  .presented_by{
  text-align:left;
  color:#999;
  font-size:10px;
  padding:0 5px 3px 5px;
  }
  .national_widget{
  width:100%;
  height:350px;
  background-color:#fff;
  border-top:1px solid #cccccc;
  border-right:1px solid #cccccc;
  border-left:1px solid #cccccc;
  }
  .mwwidget_mtabs{
  	width: 100%;
  	height: 25px;
  	display:table;
  	color: #fff;
  	font-size:12px;
  	font-weight:bold;

  }

  .mtabs{
  	width: 99px;
  	background-color:#f2f2f2;
  	border-top:1px solid #cccccc;
  	border-left:1px solid #cccccc;
  	border-right:1px solid #cccccc;
  	border-bottom:1px solid #cccccc;
  	display:table-cell;
  	color:#000;
  	padding-top: 5px;
  	text-align:center;
  	text-decoration:none;
  	cursor:pointer;
  }

  .mtabs:hover{
  	color:#000;
  	text-decoration:none;
  	background-color:#fff;
  	border-bottom:0;
  }

  .mtabs:hover .underline{
  	border-bottom: 3px solid #3098ff;
  }
  .national_widget_wrapper{
    width:100%;
    height:325px;
  }
  .top-profile{
  	width:100%;
  	display:table;
  	position:relative;
  }

  .mw_info{
  	padding-top: 12px;
  	padding-left:10px;
  	padding-right:10px;
  	display:table-cell;
  	text-align:left;
  	position:relative;
  	float:left;
  	bottom:25px;
  }

  .price{
  	display:block;
  	font-size:25px;
  	color:#999ea6;
  }

  .change{
  	display:block;
  	font-size:12px;
  	font-weight:bold;
  	color:#44b224;
  }

  #stockchart{
  	width:200px;
  	height:80px;
  	padding-top: 3px;
  	display:table-cell;
  	box-sizing:border-box;
    position: relative;
    right: 5px;
  }

  #border-line{
    height:1px;
    width:100%;
    border-top: 1px solid #ccc;
    position: relative;
    bottom:10px;
  }
  .national_widget_t{
    height:45px;
    width:100%;
    position: relative;
  }
  .fin_icon{
    width:25px;
    height:25px;
    border-radius: 50%;
    background-color: #3098ff;
    background-image: url("public/Fin_Widget_Icon.png");
    background-repeat:no-repeat;
    background-size: 14px;
    background-position: center;
    position: absolute;
    top:0;
    left:6px;
  }
  .national_widget-title{
  font-size:16px;
  font-weight:700;
  text-align:center;
  color:#000;
  width:100%;
  margin:0 auto;
  line-height: 1em;
  font-family:HN-B;
  padding-left: 30px;
  }
  .national_widget-location{
  height:15px;
  font-size:14px;
  display:table;
  margin:0 auto
  }
  .national_widget-location-icon{
  width:10px;
  height:10px;
  float:left;
  color:#3098ff;
  background-image:url(public/re_icon_map_marker_sm.png);
  background-repeat:no-repeat;
  background-size:contain;
  margin-top:5px
  }
  .national_widget-location-text{
  color:#000;
  float:left;
  font-size:14px;
  padding-left:5px
  }
  .national_widget-content{
  width:100%;
  height:auto;
  position: relative;
  }
  .national_widget-content-image{
  width:100px;
  height:100px;
  border-radius:50%;
  border:3px solid #ccc;
  margin:0 auto;
  background-size:contain !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  position:relative;
  }
  .national_widget-content-hover{
  width:100%;
  height:100%;
  border-radius:50%;
  float:left;
  opacity:0;
  color:#fff;
  background-color:rgba(48,152,255,.75);
  padding-top:24px
  }
  .national_widget-content-hover-text1{
  font-size:18px;
  line-height:1em;
  text-align:center
  }
  .national_widget-content-hover-text2{
  font-size:16px;
  line-height:1em;
  text-align:center;
  font-weight:700;
  }
  .national_widget-content :hover{
  opacity:1
  }
  .national_widget-content-textarea{
    text-align:center;
  width:100%;
  height:18px;
  margin-top:7px;
  margin-bottom: 5px;
  padding-left: 30px;
  }
  .national_widget-content-textarea-t1{
  color:#000;
  font-size:14px;
  font-weight:700;
  line-height: 1em;
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float:right;
  text-align: right;
  }
  .national_widget-content-textarea-t2{
  text-align: left;
  color:#000;
  font-size:14px;
  font-weight:bold;
  line-height:1em;
  width:100%;
  float:left;
  }
  .national_widget-content-buttonright{
  width:30px;
  height:60px;
  border:2px solid #000;
  border-radius: 90px 0 0 90px;
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  top:17%;
  right:0;
  position:absolute;
  cursor:pointer;
  color:#fff;
  font-size:25px;
  font-weight:700 !important;
  line-height:2.2em;
  text-align:center;
  float:right;
  background-color: #000;
  }
  .national_widget-content-buttonright:hover{
  border:2px solid #3098ff;
  color:#fff;
  background-color:#3098ff;
  }
  .national_widget-content-buttonleft{
    width:30px;
    height:60px;
    border:2px solid #000;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
    top:17%;
    left:0;
    position:absolute;
    cursor:pointer;
    color:#fff;
    font-size:25px;
    font-weight:700 !important;
    line-height:2.2em;
    text-align:center;
    float:right;
    background-color: #000;
  }
  .national_widget-content-buttonleft:hover{
  border:2px solid #3098ff;
  color:#fff;
  background-color:#3098ff;
  }
  .national_widget-total{
    color:#000;
    font-size:14px;
    height:22px;
    margin:3px 0;
    text-align: center;
  }
  .national_widget-total-price{
    font-size:22px;
    font-family: HN;
    color:#44b244;
  }
  .national_widget-total-type{
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }
  .national_widget-listbutton{
  height:28px;
  width:118px;
  margin:5px auto;
  box-sizing:border-box;
  border-radius:5px;
  cursor: pointer;
  }
  .national_widget-listbutton-button{
  width:100%;
  height:100%;
  border-radius:5px;
  border:1px solid #3098ff;
  padding:5px 10px;
  background-color:#ffffff;

  }
  .national_widget-listbutton-button:hover{
  background-color:#3098ff;
  border-radius:5px;
  cursor: pointer;
  }
  .national_widget-listbutton-button:hover .national_widget-listbutton-t1{
  color:#fff;
  }
  .national_widget-listbutton-button:hover #fonta-color{
  color:#ffffff;
  }
  .national_widget-listbutton-icon{
  width:25px;
  height:25px;
  border-radius:50%;
  //background-image:url(public/joyfulhome_house_clear.png);
  background-size:20px 20px;
  background-color:#000;
  float:left;
  color:#fff;
  line-height: 25px;
  font-size: 10px;
  }
  .national_widget-listbutton-text{
  text-align: center;
  font-size:10px;
  color:#fff;
  }
  .national_widget-listbutton-t1{
  padding-right:5px;
  font-size: 1em;
  font-family: HN;
  color:#636363;
  }
  #fonta-color{
    color:#3098ff;
  }
  .searchtab{
  	display:block;
  	width:100%;
  	height:290px;
  	display:none;
  }

  .search-container{
    height:100%
  	padding:15px;
  }

  .search-title{
    color: #272727;
  	font-size:18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    transform: scaleX(1.0004);
  	margin:17px 0;
  }

  .input-pill{
  	height:28px;
  	display:table;
  	border: 2px solid #7bbf65;
  	border-radius:20px;
  	margin-bottom:12px;
  }
  .search_box{
  	height: 30px;
  	width: 260px;
  	display: table;
  	margin: 15px auto;
  	position:relative;
    margin-left: 15px;
  }
  .search-input{
    /*display: table-cell;*/
    width: 210px;
    height: 30px;
    padding-left: 5px;
    margin: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  #cccccc;
    box-sizing: border-box;
    background-color:  #ffffff;
    vertical-align: middle;
    outline: none;
    font-size: 12px;
    text-align: left;
  }

  .search-button{
  	width: 50px;
  	height:100%;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  	background-color: #3098ff;
  	font-size:12px;
  	line-height:2em;
  	font-family:HN;
  	display:table-cell;
    text-align:center;
  }

  .input-pill_btn{
  	border: none;
  	background: none;
  	color: #fff;
  	vertical-align:middle;
  	font-weight:bold;
  }

  .search-text{
    color: #272727;
  	font-size: 14px;
  	line-height: 24px;
    font-weight: 700;
  	font-family: sans-serif;
    text-align: center;
  }

  .search-border{
    margin-left: 13px;
  	width:260px;
    height: 1px;
    background-color:  rgba(0, 0, 0, 0.18);
  	margin-bottom:12px;
  }

  .fire-style{
    margin: 0 0 5px 13px;
    font-family: FontAwesome;
    color:  #2f9cfd;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .search-trending{
  	font-family:sans-serif;
  	font-size:16px;
  	margin-bottom:12px;
  }

  .trending{
    margin-left: 13px;
    width: 260px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-align: left;

  }
  .trending a{
    color:#3098ff;
    font-weight: 700;
  }
