html, body {
  margin: 0 !important;
  font-family: 'Lato', sans-serif;font-weight:300;
  width: 100%;
  height: auto;
  background-color: white;
}
div{
  font-family: 'Lato', sans-serif;font-weight:300;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline:0;
}

button:focus {
  outline:0;
}

.ad_location{
  width:300px;
  height:250px;
  background-color: #ccc;
}

.new_fe_ceo{
  overflow: hidden;
  width:300px;
  height:auto;
  margin:0 auto;
}

.fcw{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  width:300px;
  height:350px;
  position: relative;
}

/*top text*/
.fcw-icon{
  width:25px;
  height:25px;
  background-color: #39abff;
  background-image: url("public/Fin_Widget_Icon.png");
  background-position: center center !important;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 7px 10px;
  position: absolute;
  top:0;
  left:0;
}
.fcw-icon:hover{
  background-color: #000;
}
.fcw-text{
  width:100%;
  height:70px;
  padding-top: 2px;
  position:relative;
}

.fcw-t1{
  margin-top: 2px;
  font-family: 'Lato', sans-serif;font-weight:700;
  font-size: 18px;
  text-align: left;
  line-height: 22px;
  padding-left: 45px;
  width: 90%
}
.fcw-t2{
  margin-bottom: 2px;
  font-size:14px;
  text-align: center;
  line-height: 16px;
  font-weight: 400;
  width: 100%;
}
/*top text END*/

/*image && button*/
.fcw-middle{
  position: relative;
  width:100%;
  margin: 12px 0 10px 0;
}
.fcw-image{
  width:144px;
  height:144px;
  margin:5px auto;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #cccccc;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  /*remove below cause its funny*/
  text-align: center;
  position: relative;
}
.fcw-t2-num{
  position: absolute;
  top: 0;
  width: 45px;
  font-size: 20px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #ffffff;
  line-height: 40px;
}
.fcw-logo{
  border-radius: 50%;
  border-width: 1px;
  border-color: #ebebeb;
  border-style: solid;
  background-color: #ffffff !important;
  width: 48px;
  height: 48px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  position: absolute;
  right:0;
  margin-top: 90px;
}
.fcw-logo:hover{
  background-color: #39abff;
}
.fcw-leftnav{
  position: absolute;
  height:60px;
  width:30px;
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  border:none;
  left: 0;
  top:20%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}

.fcw-rightnav{
  height:60px;
  width:30px;
  border-radius: 90px 0 0 90px;
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  border:none;
  position: absolute;
  right: 0;
  top:20%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}
/*image && button END*/

/*bottom text*/
.fcw-content{
  width:100%;
  /*height:45px;*/
}

.fcw-content1{
  font-size: 24px;
  color:#39abff;
  font-family: 'Lato', sans-serif;
  font-weight:700;;
  text-align: center;
}

.fcw-content2{
  font-size: 18px;
  color:#000000;
  text-align: center;
  line-height: 1em;
  font-weight: 500;
  margin-top: 2px;
}
/*bottom text END*/

.fcw-list{
  width:100%;
  height: 20px;
  text-align: center;
  position: absolute;
  bottom:0;
  margin-bottom: 30px;
}

.fcw-list-link{
  color: #000;
  font-size: 10px;
  font-family: 'Lato', sans-serif;font-weight:700;;
  border-radius: 3px;
  border-width: 1px;
  border-color: #3098ff;
  border-style: solid;
  background-color: #ffffff;
  width: 118px;
  height: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
}
.fcw-list-link:hover{
  background-color: #3098ff;
  color: #ffffff;
}
.fcw-list-link:active{
  background-color: #000000;
  color: #ffffff;
}
.fcw-presentedby{
    position: absolute;
    bottom: 4px;
    left: 2px;
    color:#aaaaaa;
    text-align: left;
    font-size: 10px;
}

.fcw-rightnav:hover{
  background-color: #39abff;
}

.fcw-leftnav:hover{
  background-color: #39abff;
}

#swc-blue{
  color:#3aaefe;
}

.swc-space{
  margin:0 2px;
}

.fcw-t2-title{
  color: #000;
}
.fcw-t2-title:hover{
  color:#39abff;
}
.fcw-loc{
  color: #000;
}
.fcw-loc:hover{
  color:#39abff;
}
.hover1{
  width:100%;
  height:100%;
  border-radius: 50%;
  opacity: 0;
  text-align: center;
}
.txt1{
  padding-top:1em;
  font-size: 32px;
  font-family: 'Lato', sans-serif;font-weight:400;-L;
  color:#ffffff;
}
.txt2{
  font-size: 18px;
  font-family: 'Lato', sans-serif;font-weight:700;;
  color:#ffffff;
}
.hover1:hover{
  opacity: .85;
  padding-top: 10px;
  background: #39abff;
  font-size: 20px;
}
