html, body {
  margin: 0 !important;
  font-family: Lato, sans-serif;
  width: 100%;
  height: auto;
  background-color: white;
}
div, span{
  font-family: Lato, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button:focus {
  outline:0;
}
sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}
i {
  font-style: normal;
  margin-left: 5px;
  font-family: 'Source Sans Pro', Helvetica, Arial , sans-serif;
  font-size: 15px;
  vertical-align: top;
}

.aiw {
  width: 300px;
  height: 600px;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f2f2f2;
}

/**** Title Portion of the widget ****/
.aiw-img {
  width: 100%;
  height: 191px;
  margin: 0;
  padding: 0;
  background-position: 0px 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  position: absolute;
  top: 0;
}
.text-snippet{
  width:100%;
  height:15px;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
  background-color: #f2f2f2;
  color:#000;
  padding: 3px 5px 3px 0;
}
.aiw-top {
  width: 100%;
  height: 25px;
  line-height: 20px;
  background-color: #2d3e50;
  color: #fff;
  position: absolute;
  top: 0;
  cursor: pointer !important;
}
.aiw-top .ball {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 5px 5px 5px 10px;
  float: left;
  background-position: center center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-image: url('./public/Icon_Baseball.png');
}
.aiw-top span {
  font-size: 10px;
}
.aiw-top span .team {
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
}
.aiw-top span .away, .aiw-top span .home{
  font-weight: 700;
}
.aiw-top .fa {
  color: white;
  font-size: 20px;
  margin-left: 5px;
  position: absolute;
  height: 25px;
  line-height: 25px;
  right: 10px;
  top: 0px;
}
.aiw-top .fa.fa-caret-up {
  color: #fff;
}

/**** Dropdown ****/
.dropdown {
  position: absolute;
  top: 40px;
  height: 300px;
  width: 100%;
  display: none;
  color: #000;
  background-color: #fff;
  z-index: 10;
  padding: 0px;
  line-height: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}
[tooltip]:before {
    position : absolute;
     content : attr(tooltip);
     opacity : 0;
}
[tooltip]:hover:before {
    opacity : 1;
}
.dropdown-elem {
  padding: 0px 5px;
  height: 40px;
  width: 100%;
  font-size: 14px;
}
.dropdown-elem.active {
  color: #2d3e50;
}
.dropdown-elem:hover {
  color: #fff;
  background-color: #2d3e50;
  cursor: pointer;
}
.dropdown-elem b {
  font-size: 15px;
}
.dropdown-elem .left {
  float: left;
}
.dropdown-elem .right {
  font-weight: 300;
  float: right;
}
.dropdown .divider {
  width: 100%;
  height: 1px;
  background-color: #c2c2c2;
  margin: 0px 5px;
}
.aiw-img.active .dropdown {
  display: block;
}
.aiw-img.active .aiw-top {
  background-color: black;
}
.aiw-img.active .aiw-top .ball {
}
.aiw-img.active .aiw-top .fa {
  color: #fff;
}

/**** Content Classes ****/
.aiw-bdy {
  width: 100%;
  height: 184px;
  padding: 10px 15px;
  background-color: #fff;
  position: absolute;
  top: 191px;
}
.aiw-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  margin-bottom: 10px;
  float: left;
  width: 260px;
}
.aiw-num {
  font-size: 16px;
  line-height: 20px;
  float: right;
  color: #999;
  font-weight: 800;
  line-height: 1.1;
  padding-right: 2px;
}
.aiw-num-length {
  font-size: 16px;
  line-height: 20px;
  float: right;
  color: #999;
}
.aiw-txt {
  width: 100%;
  height: 90px;
  text-overflow: ellipsis;
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.fa.aiw-btn {
  width: 30px;
  height: 60px;
  position: absolute;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.fa-angle-left.aiw-btn {
  left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.fa-angle-right.aiw-btn {
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.fa.aiw-btn:hover {
  background-color: #2d3e50;
}
.aiw-link {
  width: 137px;
  height: 30px;
  border-radius: 3px;
  color: #fff;
  line-height: 28px;
  text-align: center;
  padding: 0;
  display: inline-block;
  left: 75px;
  font-size: 12px;
  font-weight: 800;
  padding-right: 25px;
  background-repeat: no-repeat;
  background-image: url('./public/Icon-Magazine.png');
  background-size: 15px auto;
  background-position: 108px 8px;
  cursor: pointer !important;
  background-color: #2d3e50;
  border: 1px solid #2d3e50;
  margin-right: 5px;
}
.aiw-link:hover {
  background-color: black;
  border-color: black;
}

.aiw-link-next {
  width: 120px;
  height: 30px;
  border-radius: 3px;
  color: #2d3e50;
  line-height: 28px;
  text-align: center;
  padding: 0;
  display: inline-block;
  left: 75px;
  font-size: 12px;
  font-weight: 800;
  cursor: pointer !important;
  background-color: white;
  border: 1px solid #2d3e50;
}
.aiw-link-next:hover {
  background-color: black;
  border-color: black;
  color: white;
}

/**** Utility Classes ****/
.ad_location{
  width:100%;
  height:250px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
}
.noclick {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
