@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,700);

html, body {
  margin: 0;
  font-family: Cabin;
  width: 100%;
  height: auto;
  background-color: #fff;
}
  * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .re_w_list-content-image,
  .re_w_list-listbutton-icon{
  background-repeat:no-repeat;
  background-position:center center!important
  }
  .re_w_container{
  width:300px;
  height:auto;
  overflow:hidden;
  margin:0 auto;
  z-index:20;
  padding-top:100px;
  position:relative;
  }
  .ad_location{
  width:300px;
  height:250px;
  opacity:0
  }
  .presented_by{
  text-align:left;
  color:#999;
  font-size:10px;
  padding:0 5px
  }
  .re_w_list{
  width:100%;
  height:250px;
  background-color:#fff;
  border-top:5px solid #666
  }
  .re_w_list:hover{
  border-top:5px solid #44b224
  }
  .re_w_list-title{
  font-family:Cabin;
  font-size:24px;
  font-weight:700;
  text-align:center;
  color:#000;
  width:100%;
  margin-top:4px;
  white-space:nowrap
  }
  .re_w_list-title #title_text{font-family:Cabin!important}
  .re_w_list-location{
  height:15px;
  font-size:14px;
  display:table;
  margin:0 auto
  }
  .re_w_list-location-icon{
  width:10px;
  height:10px;
  float:left;
  color:#44b224;
  background-image:url(public/re_icon_map_marker_sm.png);
  background-repeat:no-repeat;
  background-size:contain;
  margin-top:5px
  }
  .re_w_list-location-text{
  font-family:Cabin;
  color:#000;
  float:left;
  font-size:14px;
  padding-left:5px
  }
  .re_w_list-content{width:100%;
  height:110px;
  margin:10px 0 15px
  }
  .re_w_list-content-image{
  width:110px;
  height:110px;
  border-radius:50%;
  float:left;
  border:2px solid #ccc;
  margin:0 15px;
  background-size:cover}

  .re_w_list-content-hover{
  width:100%;
  height:100%;
  border-radius:50%;
  float:left;
  opacity:0;
  color:#fff;
  background-color:rgba(73,176,73,.75);
  padding-top:35px
  }
  .re_w_list-content-hover-text1{
  font-size:23px;
  font-family:Cabin;
  line-height:22px;
  text-align:center
  }
  .re_w_list-content-hover-text2{
  font-size:23px;
  font-family:Cabin;
  line-height:22px;
  text-align:center;
  font-weight:700
  }
  .re_w_list-content :hover{
  opacity:1
  }
  .re_w_list-content-textarea{
  height:auto;
  width:100px;
  float:left;
  vertical-align:middle;
  text-align:left;
  position:relative;
  top:10%}
  .re_w_list-content-textarea-t1{
  font-family:Cabin;
  color:#44b224;
  font-size:28px;
  height:40px;
  font-weight:700
  }
  .re_w_list-content-textarea-t2{
  font-family:Cabin;
  color:#000;
  font-size:12px;
  line-height:1em
  }
  .re_w_list-content-button{
  width:49px;
  height:49px;
  border:2px solid #000;
  border-radius:50%;
  color:#000;
  font-size:35px;
  margin-right:5px;
  float:right;
  font-weight:700;
  position:relative;
  top:25%;
  line-height:44px;
  text-align:center;
  cursor:pointer
  }
  .re_w_list-content-button:hover{
  color:#fff;
  background-color:#000
  }
  .re_w_list-listbutton{
  height:35px;
  width:180px;
  margin:5px auto 3px;
  box-sizing:border-box;
  border-radius:5px
  }
  .re_w_list-listbutton-button{
  width:100%;
  height:100%;
  border-radius:5px;
  border:none;
  padding:5px 10px;
  background-color:#44b224
  }
  .re_w_list-listbutton-button:hover{
  background-color:#000;
  border-radius:5px
  }
  .re_w_list-listbutton-icon{
  width:25px;
  height:25px;
  border-radius:50%;
  background-image:url(http://cdn.joyfulhome.com/joyfulhome_house_clear.png);
  background-size:20px 20px;
  background-color:#000;
  float:left
  }
  .re_w_list-listbutton-text{
  float:left;
  font-family:Cabin;
  font-size:15px;
  color:#fff;
  padding-left:20px;
  line-height:24px}
  .re_w_list-listbutton-t1{
  padding-right:5px
  }
