html, body {
  margin: 0 !important;
  font-family: HN;
  width: 100%;
  height: auto;
  background-color: white;
}
div{
  font-family: HN;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

button:focus {
  outline:0;
}

@font-face{
  font-family: 'HN';
  src: url('public/fonts/HelveticaNeue.otf');
}

@font-face{
  font-family: 'HN-B';
  src: url('public/fonts/HelveticaNeue-Bold.otf');
}

@font-face{
  font-family: 'HN-L';
  src: url('public/fonts/HelveticaNeue-Light.otf');
}

@font-face{
  font-family: 'HN-T';
  src: url('public/fonts/HelveticaNeue-Thin.otf');
}

@font-face{
  font-family: 'HN-UL';
  src: url('public/fonts/HelveticaNeue-UltraLight.otf');
}

.ad_location{
  width:100%;
  height:250px;
  background-color: #ccc;
}

.snt_local_w{
  overflow: hidden;
  width:300px;
  height:auto;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  margin: 100px auto 0 auto;
}

.snt_local_w:hover{
  border-top: 3px solid #39abff;
  border-bottom: 3px solid #39abff;
}

.fgw{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width:100%;
  height:244px;
  position: relative;
}

/*top text*/
.fgw-logo{
  width:25px;
  height:25px;
  background-color: #39abff;
  background-image: url("public/FIN_Widget_Icon.png");
  background-position: center center !important;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 7px 5px;
  position: absolute;
  top:0;
  left:0;
}

.fgw-text{
  width:100%;
  height:50px;
  padding-top: 2px;
  padding-left: 35px;
  position:relative;
  overflow: hidden;
}

.fgw-t1{
  position: absolute;
  top: 0;
  margin-top: 2px;
  font-family:HN-B;
  font-size:20px;
  text-align: left;
  line-height: 1.2em;
  white-space: nowrap;
}
.fgw-t2{
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  font-size:14px;
  text-align: left;
  line-height: 1.7em;
}
/*top text END*/

/*image && button*/
.fgw-middle{
  position: relative;
  width:100%;
  height:105px;
}
.fgw-image{
  width:100px;
  height:100px;
  margin:5px 0 0 35px;;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #cccccc;
  float:left;
  /*remove below cause its funny*/
  text-align: center;
  line-height: 100px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fgw-content{
  width:50%;
  height:45px;
  margin-top:20px;
  float:right
}

.fgw-content1{
  font-size: 22px;
  color:#50bc55;
  font-family: HN-B;
  text-align: left;
}

.fgw-content2{
  font-size: 16px;
  font-family: HN-B;
  color:#000000;
  text-align: left;
  line-height: 1em;
}

.fgw-leftnav{
  position: absolute;
  height:60px;
  width:30px;
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  border:none;
  left: 0;
  top:25%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}

.fgw-rightnav{
  height:60px;
  width:30px;
  border-radius: 90px 0 0 90px;
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  border:none;
  position: absolute;
  right: 0;
  top:25%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}
/*image && button END*/

.fgw-list{
  width:100%;
  height: 20px;
  text-align: center;
  position: absolute;
  bottom:0;
  margin-bottom: 5px;
}

.fgw-presentedby{
    position: absolute;
    bottom: 0px;
    left: 2px;
    color:#aaaaaa;
    text-align: left;
    font-size: 12px;
}

#fgw-graph{
  width:100%;
  height:60px;
  margin-top: 3px;
  padding: 0 25px;
}

.fgw-list-link{
  color:#000;
  font-size: 10px;
  font-family: HN-B;
}

.fgw-list-link:hover{
  color:#39abff;
}

.fgw-rightnav:active{
  background-color: #39abff;
}

.fgw-leftnav:active{
  background-color: #39abff;
}

#swc-blue{
  color:#3aaefe;
}

.swc-space{
  margin:0 2px;
}
