html, body {
  margin: 0 !important;
  font-family: 'Lato', sans-serif;font-weight:400;
  width: 100%;
  height: auto;
  background-color: white;
}
div{
  font-family: 'Lato', sans-serif;font-weight:400;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button:focus {
  outline:0;
}

a{
	text-decoration:none;
	color: #000;
	outline:0;
}
a:visited{
	color:#ffffff !important;
}

.rc_whole_container{
	width: 480px;
	height: 910px;
	overflow: hidden;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-bottom: 2px solid #3098ff;
	box-sizing:border-box;
}
/*top header of widget*/
.rc_header{
	border-top: 3px solid #3098ff;
	background-color:  #000000;
	width: 480px;
	height: 40px
}

.rc_today_gain{
	color: #000;
}
.rc_headline{
	padding-left: 10px;
	font-size: 14px;
	font-weight:  700;
	text-transform:uppercase;
	color:#ffffff;
	top:25%;
	position:relative;
}

.rc_blue{
	color:#3098ff;
}
/*top header of widget END*/
/*Market mover report*/
.rc_stock_container{
	font-size:14px;
	width:160px;
	height:67px;
	border-bottom:1px solid #cccccc;
	box-sizing:border-box;
}
.rc_report{
	padding-top:15px;
	margin: 0 0 9px 20px;
}
.rc_exchange{
	color:#3098ff;
	font-weight:700;
	display:inline-block;
	width:75px;
}
.rc_price{
	text-align:left;
	color: #000;
}
.rc_stock_color{
	font-size:12px;
	margin: 9px 0 10px 20px;
}
.rc_change{
	display:inline-block;
	width:60px;
}
/*Market mover report END*/
/*Search Bar area*/
.rc_search_area{
	width:100%;
	height:67px;
	background-color:#fafafa;
	border-bottom:1px solid #cccccc;
}
.rc_search_box{
	height:30px;
	width:95%;
	display:table;
	border: 3px solid #cccccc;
	margin: 5px auto;
	position:relative;
	top:11px;
}

.rc_search_input{
	display:table-cell;
	width:100%;
	border:none;
	height:100%;
	padding:0 0 0 5px;
	margin:0;
	vertical-align:middle;
	outline:none;
	box-sizing:border-box;
}

.rc_search-button{
	width:30px;
	height:100%;
	font-size:12px;
	line-height:2em;
	display:table-cell;
	background-color:#3098ff;
	cursor:pointer;
	text-align:center;
}

.rc_pillbtn{
	border: none;
	background: none;
	color: #ffffff;
	vertical-align:middle;
	text-align:center;
	position:relative;
	cursor:pointer;
}

.rc_delay{
	float:right;
	color:#999999;
	font-size:10px;
	position:relative;
	top:11px;
	padding-right:10px;
}
/*Search Bar area END*/
/*today's gainers for sv150*/
.rc_today_container{
	width:100%;
	height:525px;
	display:block;
}
.rc_sv150_gain{
	width:100%;
	font-size:18px;
	padding:18px 0 18px 21px;
	box-sizing:border-box;
	border-bottom:1px solid #cccccc;
	background-color:#fff;
}
.sv_see-all{
	font-size:14px;
	color:#3098ff;
	padding-left:10px;
}

.green{
	color:#44b244;
}
.red{
	color:#ca1010;
}
/*today's gainers for sv150 END*/
/*today's gainers for sv150 TOP LIST*/
.rc_gain_list1{
	width:480px;
	height:69px;
	background-color:#fafafa;
	border-left:5px solid #ebebeb;
	border-bottom:1px solid #cccccc;
	box-sizing:border-box;
}
.rc_gain_list2{
	width:480px;
	height:69px;
	background-color:#fff;
	border-left:5px solid #ebebeb;
	border-bottom:1px solid #cccccc;
	box-sizing:border-box;
}
.rc_image{
	margin:9px 15px;
	width:50px;
	height:50px;
	border:1px solid #ebebeb;
	border-radius:100%;
	display:inline-block;
	background-image: '';
	background-size: contain!important;
	background-position: center center!important;
}
.rc_company_info{
	display:inline-block;
	padding: 27px 0;
	position:relative;
	bottom:45%;
}
.rc_company_name{
	display:inline-block;
	width:129px;
	padding-left:3px;
	font-size:14px;
	color:#3098ff;
	font-weight:700;
}
.rc_company_price{
	display:inline-block;
	width: 120px;
	text-align:left;
	font-size:14px;
	color: #000;
}
.rc_company_change{
	display:inline-block;
	font-weight:700;
	text-align:left;
	font-size:14px;
}
/*today's gainers for sv150 TOP LIST END*/

/*Ad place here*/
.ad{
	float:right;
	position:relative;
	font-size:10px;
	color:#cccccc;
}
.sv_ad_here{
	width:300px;
	height:250px;
}
/*Ad place here END*/
