i {
    font-style: normal;
    margin-left: 5px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 15px;
    vertical-align: -1px;
}

.swp {
    width: 300px;
    height: 250px;
    top: 0;
    background-color: #fafafa;
    padding-top: 7px;
    border: 1px solid #ccc;
    margin: 0 auto;
    /*display: none;*/
    position: absolute;
    z-index: -1;
}

#verticalName {
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    min-height: 10px;
    text-align: left;
    color: white;
    padding: 5px 15px;
}

#verticalName a {
    color: white;
}

.section-image {
    width: 300px;
    height: 250px;
    margin: 0;
    padding: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
    position: absolute;
    top: -1px;
    left: -1px;
}

.section-image::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #272727), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.dateline {
    position: relative;
    font-family: Lato;
    font-size: 8px;
    font-weight: 400;
    color: #f2f2f2;
    left: 20px;
    margin-bottom: 2px;
}

.section-text {
    position: relative;
    color: #fff;
    width: 240px;
    font-size: 14px;
    font-family: Lato;
    font-weight: 900;
    left: 20px;
}

.content {
    position: absolute;
    width: 240px;
    top: 50px;
}

.content-anchor {
    position:relative;
    height:184px;
    top:15px;
}

.content-text {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
    position: relative;
    left: 20px;
    width: 240px;
    margin-top: 5px;
}

.content-readmore {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    color: #b31d24;
}

.bar {
    display: -webkit-flex;
    display: flex;
    margin-left: 9px;
    margin-top: 15px;
    height: 10px;
    font-family: Lato;
    font-size: 10px;
    color: #999999;
}

.bar-date {
}

.bar-author {
    margin-left: 6px;
}

#authorlink {
    text-decoration: none;
    color: #999999;
}

.buttons {
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    height: 25px;
    bottom: 15px;
    position: absolute;
    left: 20px;
}

.buttons-readstory {
    padding-top: 2px;
    padding-right: 35px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 900;
    font-family: Lato;
    height: 30px;
    width: 132px;
    color: #fff;
    border-radius: 3px;
}

.buttons-readstory:hover {
    border: 1px solid #fff;
}

#paper {
    margin-top: 4.5px;
    right: 180px;
    position: absolute;
}

.buttons-nextlist {
    padding-top: 2px;
    padding-left: 23px;
    width: 115px;
    height: 30px;
    line-height: 24px;
    text-align: left;
    border-radius: 3px;
    border: 1px solid #fff;
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    cursor: pointer;
}

.buttons-nextlist:hover {
    background-color: #b31d24;
    color: white;
}

#arrow {
    margin-top: 3px;
    margin-left: 1px;
    position: absolute;
    fill: #fff !important;
}

.buttons-timer {
    width: 54px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #b31d24;
    font-size: 12px;
    font-family: Lato;
    margin-left: 10px;
}

#play {
    color: #b31d24;
    font-size: 12px;
    margin-right: 5px;
}

#pause {
    color: #b31d24;
    font-size: 12px;
    margin-right: 5px;
}

#swp-play {
    color: #b31d24;
    font-size: 12px;
    margin-right: 5px;
}

#swp-pause {
    color: #b31d24;
    font-size: 12px;
    margin-right: 5px;
}

html, body {
    margin: 0 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100%;
    height: auto;
    background-color: white;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

div {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

.content-container {
    overflow: hidden;
    width: 300px;
    height: auto;
    margin: 0 auto;

}

.fcw {
    border: 1px solid #ccc;
    width: 300px;
    height: 250px;
    position: relative;
    position: absolute;
    background-color: white;
    z-index: 2;

}

/*top text*/
.fcw-icon {
    width: 12px;
    height: 12px;
    background-color: #bc1624;
    /*background-image: url("public/Icon_Baseball.png");*/
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    margin: 0 5px 0 0;
    display: inline-block;
    vertical-align: top;
}

.fcw-icon:hover {
    background-color: #000;
}

.fcw-text {
    width: 100%;
    height: auto;
    padding-top: 5px;
    position: relative;
}

.fcw-t1 {
    font-weight: 800;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    width: 285px;
    text-align: left;
    display: table;
    height: auto;
    bottom: 8px;

}

.fcw-t1 p {
    display: table-cell;
    vertical-align: middle;
}

.fcw-t2 {
    margin: 3px 0 2px 0;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    width: 100%;
}

/*top text END*/

/*image && button*/
.fcw-middle {
    position: relative;
    width: 100%;
    margin: 10px 0 6px auto;
}

.fcw-image {
    width: 84px;
    height: 84px;
    margin: 5px auto;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ccc;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    z-index: 1;

}

.fcw-image-team {
    width: 90px;
    height: 90px;
    margin: 5px auto;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ccc;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.fcw-t2-num {
    position: absolute;
    top: 0px;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    line-height: 23px;
    text-align: center;
    font-size: 12px;
    z-index: 2;
}

.fcw-logo {
    border-radius: 50%;
    border-width: 1px;
    border-color: #ebebeb;
    border-style: solid;
    background-color: #fff !important;
    width: 148px;
    height: 148px;
    background-size: cover !important;
    background-position: center center !important;
    position: absolute;
    right: 0;
    margin: 0px 35px;
    z-index: 0;
}

.fcw-logo:hover {
    background-color: #bc1624;
    z-index: 2;
}

.fcw-leftnav {
    position: absolute;
    height: 50px;
    width: 20px;
    border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border: none;
    left: 0;
    top: 15px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.fcw-rightnav {
    height: 50px;
    width: 20px;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    border: none;
    position: absolute;
    right: 0;
    top: 15px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

/*image && button END*/

/*bottom text*/
.fcw-content {
    width: 100%;
    height: 55px;
    line-height: 22px;
}

.fcw-content-top {
}

.fcw-content1 {
    font-size: 14px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-align: center;
}

.fcw-content1:hover {
    color: #000;
}

.fcw-content2 {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    text-align: center;
    line-height: 1.1em;
}

#fcw-team {
    color: #bc1624;
    font-weight: 800;
    text-align: center;
    line-height: 1.1em;
}

#fcw-team:hover {
    color: #000;
}

#fcw-content2a {
    /*color: black;*/
    font-weight: 800;
    text-align: center;
    line-height: 1.1em;
    color: black;
    font-weight: 400;
}

#fcw-content2b {
    color: black;
    font-weight: 900;
    text-align: center;
    line-height: 1.1em;
    font-weight: 400;

}

.fcw-content3 {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    text-align: center;
}

/*bottom text END*/

.fcw-list {
    width: 100%;
    height: 30px;
    /*text-align: center;*/
    position: absolute;
    bottom: 0;
    /*margin-bottom: 10px;
    margin-left: 10px;*/
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    padding: 0 10px;
}

.fcw-list-next {
    cursor: pointer;
}

.fcw-list-next, .fcw-list-time {
    border-radius: 3px;
    text-align: center;
    border: 1px solid;
    border-color: #b31d24;
    color: #b31d24;

}

.fcw-list-list {
    background-color: #b31d24;
    color: white;
    border-radius: 3px;
    text-align: center;
    border: 1px solid;
    border-color: #b31d24;
}

.fcw-list-list i {
    margin-left: 8px;
}

.fcw-list-next i {
    margin-left: 5px;
}

.fcw-list-time i {
    margin-right: 5px;
}

.fcw-list-text {
    font-size: 12px;
    line-height: 28px;
}

.fcw-list-link {
    color: #000;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid #bc1624;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
}

.fcw-list-list:hover {
    background-color: #272727;
    color: #fff;
}

.fcw-list-list:active {
    background-color: #000000;
    color: #fff;
}

.fcw-list-next:hover {
    background-color: #b31d24;
    color: white;
}

.fcw-presentedby {
    position: absolute;
    bottom: 4px;
    left: 2px;
    color: #aaa;
    text-align: left;
    font-size: 10px;
}

.fcw-rightnav:hover {
    background-color: black;
}

.fcw-leftnav:hover {
    background-color: black;
}

.swc-space {
    margin: 0 2px;
}

.fcw-t2-title {
    color: #000;
    font-weight: 400;
}

.fcw-t2-title:hover {
    color: #bc1624;
}

.fcw-loc {
    color: #000;
}

.fcw-logo {
    color: #fff;
    top: 0px;
}

.fcw-loc:hover {
    color: #bc1624;
}

.hover1 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    text-align: center;
}

.txt1 {
    padding-top: .5em;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
}

.txt2 {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #fff;
}

.hover1:hover {
    opacity: 1;
    padding-top: 10px;
    background: rgba(188, 32, 39, 0.8);
    font-size: 20px;
}

.dw-nav {
    height: 60px;
    width: 30px;
    position: absolute;
    top: 40px;
    color: white;
    background-color: black;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.dw-c-l {
    left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px
}

.dw-c-r {
    right: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px
}

.swp-top {
    width: 100%;
    height: 25px;
    line-height: 21px;
    background-color: #2d3e50;
    color: #fff;
    position: relative;
    top: 0;
    cursor: pointer !important;
}

.swp-top .ball {
    width: 10px;
    height: 10px;
    float: left;
    padding: 7px;
    margin: 5px 10px;
    background-repeat: no-repeat;
}

.swp-top span {
    font-size: 13px;
}

.swp-top span .team {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
}

.swp-top span .away, .swp-top span .home {
    font-weight: 700;
}

.swp-top .fa {
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    position: absolute;
    height: 25px;
    line-height: 27px;
    right: 15px;
    top: 0;
}

.swp-top .fa.fa-caret-up {
    color: #fff;
}

/**** Dropdown ****/
.dropdown {
    position: absolute;
    top: 25px;
    height: 225px;
    width: 300px;
    display: none;
    color: #000;
    background-color: #fff;
    z-index: 10;
    padding: 0;
    line-height: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

[tooltip]:before {
    position: absolute;
    content: attr(tooltip);
    opacity: 0;
}

.container {
    position: relative;
    width: 97%;
    border: 1px solid #2d3e50;
    border-radius: 3px;
    margin: 5px auto;
}

[tooltip]:hover:before {
    opacity: 1;
}

.dropdown-elem {
    padding: 0 5px;
    height: 40px;
    width: 273px;
    font-size: 14px;
}

.dropdown-elem.active {
    color: #fff;
    background-color: rgba(45, 62, 80, 0.9);
}

.dropdown-elem:hover {
    color: #fff;
    background-color: rgba(45, 62, 80, 0.9);
    cursor: pointer;
}

.dropdown-elem b {
    font-size: 15px;
}

.dropdown-elem .left {
    float: left;
}

.dropdown-elem .right {
    font-weight: 400;
    float: right;
}

.dropdown .divider {
    width: 273px;
    height: 1px;
    background-color: #c2c2c2;
}

.swp-dropdown.active .dropdown {
    display: block;
}

.swp-dropdown.active .swp-top {
    background-color: rgba(45, 62, 80, 0.9);
}

.swp-dropdown.active .swp-top .fa {
    color: #fff;
}
