html, body {
  margin: 0 !important;
  font-family: 'Lato', sans-serif;font-weight:400;
  width: 100%;
  height: auto;
  background-color: white;
}
div{
  font-family: 'Lato', sans-serif;font-weight:400;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline:0;
}

button:focus {
  outline:0;
}

.ad_location{
  width:100%;
  height:250px;
  background-color: #ccc;
}

.universe_fcw{
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  width:300px;
  height:auto;
  margin:0 auto;
}

.universe_fcw:hover{
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.fcw{
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width:100%;
  height:350px;
  position: relative;
}

/*top text*/
.fcw-logo{
  width:25px;
  height:25px;
  background-color: #f7b819;
  background-image: url("public/Icon_Weather.png");
  background-position: center center !important;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin: 5px 10px;
  position: absolute;
  top:0;
  left:0;
}
.fcw-logo:hover{
  background-color: #000;
}

.fcw-text{
  font-weight: 700;
  height: 65px;
  padding-top: 2px;
  position: relative;
  overflow: hidden;
}

.fcw-t1{
  position: absolute;
  padding-left: 43px;
  top: 0;
  margin-top: 2px;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  line-height: 1.2em;
  height: 40px;
  overflow: hidden;
  width: 295px;
}
.fcw-t2{
  position: absolute;
  width:100%;
  bottom: 0px;
  margin-bottom: 2px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  max-height: 18px;
}
.fcw-t2-local{
  position: absolute;
  font-size: 14px;
}
/*top text END*/

/*image && button*/
.fcw-middle{
  position: relative;
  width:100%;
  height:165px;
}
.fcw-image{
  background-position: center center!important;
  background-size: cover!important;
  width:150px;
  height:150px;
  margin:16px auto;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ccc;
  text-align: center;
  position: relative;
}
.fcw-img2{
  position: absolute;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 50%;
  border-width: 1px;
  border-color: #acacac;
  border-style: solid;
  background-color: #fff;
  width: 38px;
  height: 38px;
  padding-top:6px;
  z-index: 1;
}
.fcw-leftnav{
  position: absolute;
  height:60px;
  width:30px;
  border-radius: 0 90px 90px 0;
  -moz-border-radius: 0 90px 90px 0;
  -webkit-border-radius: 0 90px 90px 0;
  border:none;
  left: 0;
  top:20%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-right: 10px;
  cursor: pointer;
}


.fcw-rightnav{
  height:60px;
  width:30px;
  border-radius: 90px 0 0 90px;
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  border:none;
  position: absolute;
  right: 0;
  top:20%;
  background-color: #000;
  color:#fff;
  font-size: 25px;
  padding-left: 10px;
  cursor: pointer;
}
/*image && button END*/

/*bottom text*/
.fcw-content{
  width: 270px;
  height: 60px;
  margin: 0 auto;
}

.fcw-content1{
  font-size: 23px;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.fcw-content2{
  font-weight: 400;
  font-size: 18px;
  color:#000;
  text-align: center;
  line-height: 1em;
}
/*bottom text END*/

.fcw-list{
  width:100%;
  height: 20px;
  text-align: center;
  position: absolute;
  bottom:15px;
}

.fcw-list-link{
  margin:-15px auto;
  border-radius: 3px;
  border-width: 1px;
  width: 120px;
  height: 30px;
  border-color: #000;
  border-style: solid;
  background-color: #fff;
  color:#000;
  font-size: 10px;
  text-align: center;
  font-weight: 700;
  line-height: 26px;
}

.fcw-list-link:hover{
  color:#fff;
  border-radius: 3px;
  border-width: 1px;
  width: 120px;
  height: 30px;
  border-color: #000;
  border-style: solid;
  background-color: #000;
  text-align:center;;
}
.fcw-list-link:active{
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.fcw-presentedby{
    position: absolute;
    bottom: 0px;
    left: 2px;
    color:#aaaaaa;
    text-align: left;
    font-size: 10px;
    margin-bottom: 5px;
}

.fcw-rightnav:active{
  background-color: #f6af05;
}

.fcw-leftnav:active{
  background-color: #f6af05;
}
.fcw-rightnav:hover{
  background-color: #f6af05;
}

.fcw-leftnav:hover{
  background-color: #f6af05;
}
#swc-blue{
  color:#3aaefe;
}

.swc-space{
  margin:0 2px;
}
.fcw-t2-loc:hover{
  color: #f6af05;
}
.fcw-t2-loc{
  color: #000;
}
.hover{
  width:100%;
  height:100%;
  border-radius: 50%;
  opacity: 0;
  text-align: center;
}
.hover-txt1{
  padding-top:2.5em;
  font-size: 20px;
  line-height: inherit;
  font-weight: 700;
  color:#fff;
}
.hover-txt2{
  font-size: 20px;
  font-weight: 400;
  color:#fff;
}
.hover:hover{
  width:100%;
  height:100%;
  border-radius: 50%;
  opacity: .8;
  background-color: #f6af05;
}
