
/* USE BELOW AS BASE COPY AND PASE THEN CHANGE COLORS AND NAME OF CLASSES TO WHAT YOU WANT TO USE
** Classes in here will be used dynamically to change inheritted colors
*/
.inheritor {
    color: #00b9e3;
}

.inheritor_border{
    border: 1px solid #00b9e3 !important;
}

.inheritor_img_bg {
    background-color: #00b9e3 !important;
}

.inheritor_bg:hover:before {
    background-color: #00b9e3 !important;
}

/*
** Classes in here will be used dynamically to change inheritted colors
*/


/*******************************FOOTBALL*******************************/
.football-inheritor {
    color: #004e87;
}

.football-inheritor_border{
    border: 1px solid #004e87 !important;
}

.football-inheritor_img_bg {
    background-color: #004e87 !important;
}

.football-inheritor_bg:hover:before {
    background-color: #004e87 !important;
}
/*******************************FOOTBALL*******************************/

/*******************************BASKETBALL*******************************/
.basketball-inheritor {
    color: #f7701d;
}

.basketball-inheritor_border{
    border: 1px solid #f7701d !important;
}

.basketball-inheritor_img_bg {
    background-color: #f7701d !important;
}

.basketball-inheritor_bg:hover:before {
    background-color: #f7701d !important;
}
/*******************************BASKETBALL*******************************/

/*******************************BASEBALL*******************************/
.baseball-inheritor {
    color: #bc2027;
}

.baseball-inheritor_border{
    border: 1px solid #bc2027 !important;
}

.baseball-inheritor_img_bg {
    background-color: #bc2027 !important;
}

.baseball-inheritor_bg:hover:before {
    background-color: #bc2027 !important;
}
/*******************************BASEBALL*******************************/

/*******************************FINANCE*******************************/
.finance-inheritor {
    color: #3098ff;
}

.finance-inheritor_border{
    border: 1px solid #3098ff !important;
}

.finance-inheritor_img_bg {
    background-color: #3098ff !important;
}

.finance-inheritor_bg:hover:before {
    background-color: #3098ff !important;
}
/*******************************FINANCE*******************************/

/*******************************REALESTATE*******************************/
.realestate-inheritor {
    color: #43B149;
}

.realestate-inheritor_border{
    border: 1px solid #43B149 !important;
}

.realestate-inheritor_img_bg {
    background-color: #43B149 !important;
}

.realestate-inheritor_bg:hover:before {
    background-color: #43B149 !important;
}
/*******************************REALESTATE*******************************/

/*******************************LIFESTYLE*******************************/
.lifestyle-inheritor {
    color: #65398e;
}

.lifestyle-inheritor_border{
    border: 1px solid #65398e !important;
}

.lifestyle-inheritor_img_bg {
    background-color: #65398e !important;
}

.lifestyle-inheritor_bg:hover:before {
    background-color: #65398e !important;
}
/*******************************LIFESTYLE*******************************/

/*******************************DISASTER*******************************/
.disaster-inheritor {
    color: #902d8e;
}

.disaster-inheritor_border{
    border: 1px solid #902d8e !important;
}

.disaster-inheritor_img_bg {
    background-color: #902d8e !important;
}

.disaster-inheritor_bg:hover:before {
    background-color: #902d8e !important;
}
/*******************************DISASTER*******************************/

/*******************************POLITICS*******************************/
.politics-inheritor {
    color: #ff0101;
}

.politics-inheritor_border{
    border: 1px solid #ff0101 !important;
}

.politics-inheritor_img_bg {
    background-color: #ff0101 !important;
}

.politics-inheritor_bg:hover:before {
    background-color: #ff0101 !important;
}
/*******************************POLITICS*******************************/

/*******************************CRIME*******************************/
.crime-inheritor {
    color: #f6af05;
}

.crime-inheritor_border{
    border: 1px solid #f6af05 !important;
}

.crime-inheritor_img_bg {
    background-color: #f6af05 !important;
}

.crime-inheritor_bg:hover:before {
    background-color: #f6af05 !important;
}
/*******************************CRIME*******************************/

/*******************************WEATHER*******************************/
.weather-inheritor {
    color: #ffdf30;
}

.weather-inheritor_border{
    border: 1px solid #ffdf30 !important;
}

.weather-inheritor_img_bg {
    background-color: #ffdf30 !important;
}

.weather-inheritor_bg:hover:before {
    background-color: #ffdf30 !important;
}
/*******************************WEATHER*******************************/
