body {
  margin: 0;
  padding:0;
  font-family: helvetica;
}
#wcApp {
  width: 100%;
  height:100vh;
}
#wcApp td {
  border: none;
  vertical-align: top;
}
#settingsPane {
  width: 30%;
  padding: 10px;
}
#settingsInputs {
  width: 100%;
  border: none;
  padding: 10px;
}
#settingsInputs tr {
  padding: 0;
}
#settingsInputs td {
  vertical-align: top;
  border: none;
  padding: 5px 0 0 0;
}
.fieldDiv {
  padding-left:5px;
  position: relative;
}
.fieldDiv input {
  width: 100%;
}
.fieldDiv select {
  width: 100%;
}
.fieldDiv .explanation{
  position: absolute;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.65);
  color: white;
  opacity:0;
  width: 320px;
  max-height:0px;
  max-width: 320px;
  overflow: hidden;
  transition: max-height 1s;
  padding:0px;
}
.fieldDiv:hover .explanation{
  opacity: 1;
  max-height:999px;
  padding:5px;
}
#previewFrame {
  width: 100%;
  height: 100%;
}
#outputTextarea {
  width: 100%;
  height: 100px;
}
button {
  width: 100%;
}
