body {
  margin: 0;
  padding:0;
  font-family: helvetica;
}
#wcApp {
  width: 100%;
  height:100vh;
}
#wcApp td {
  border: 1px solid black;
  vertical-align: top;
}
#settingsPane {
  width: 30%;
}
.fieldDiv .explanation{
  opacity:0;
  max-height:0px;
  overflow: hidden;
  border: 1px dashed black;
  background-color: yellow;
  transition: max-height 1s;
}
.fieldDiv:hover .explanation{
  opacity: 1;
  max-height:999px;
}
#previewFrame {
  width: 100%;
  height: 100%;
}
