body {
  margin: 0;
  padding:0;
  font-family: helvetica;
}
h2 {
  margin: 0;
}
#wcApp {
  width: 100%;
  height:100vh;
}
#wcApp td {
  border: none;
  vertical-align: top;
}
#settingsPane {
  width: 30%;
  padding: 10px;
}
#settingsInputs {
  width: 100%;
  border: none;
  padding: 10px;
}
#settingsInputs tr {
  padding: 0;
}
#settingsInputs td {
  vertical-align: top;
  border: none;
  padding: 5px 0 0 0;
}
.fieldDiv {
  padding-left:5px;
  position: relative;
}
.fieldDiv input {
  width: 100%;
}
.fieldDiv select {
  width: 100%;
}
.fieldDiv .explanation{
  position: absolute;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.65);
  color: white;
  opacity:0;
  width: 320px;
  max-height:0px;
  max-width: 320px;
  overflow: hidden;
  transition: max-height 1s;
  padding:5px 8px;
  border-radius: 5px;
}
.fieldDiv:hover .explanation{
  opacity: 1;
  max-height:999px;
}
#previewFrame {
  width: 100%;
  height: 100%;
}
#outputTextarea {
  width: 100%;
  height: 100px;
}
input {
  height: 15px;
  border-radius: 3px;
  border: 1px solid gray;
  padding: 8px;
}
select {
  height: 25px;
}
button {
  padding: 10px;
  font-size: 16px;
  border: none;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}
#generate {
  width: 100%;
  background: #17aa56;
  box-shadow: 0 5px #119e4d;

}
#setSize {
  width: 100%;
  background: rgb(34, 111, 190);
  box-shadow: 0 5px rgb(20, 95, 175);
}
