.ddb-icon{
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ddb-show{
  display: block !important;
}
.ddb-bold{
  font-weight: 700;
}

.ddb-container{
  height: 35px;
  background-color: #272727;
  min-width: 320px;
  font-family: Lato, Arial;
  font-size: 14px;
}
/* Disabled outline on focus */
.ddb-container a:focus, .ddb-container button:focus, .ddb-container input:focus{
  outline: none;
}
/* Remove margin, paddding, and list-style-type from uls */
.ddb-container ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ddb-parleft{
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.ddb-parleft:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 35px 0;
  border-color: transparent #383838 transparent transparent;
  position: absolute;
  top: 0;
  left: -20px;
}
.ddb-parleft:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 0 20px;
  border-color: transparent transparent transparent #383838;
  position: absolute;
  top: 0;
  right: -20px;
}
.ddb-parleft.ddb-blue:before{
  border-color: transparent #4a90e2 transparent transparent;
}
.ddb-parleft.ddb-blue:after{
  border-color: transparent transparent transparent #4a90e2;
}
.ddb-parright{
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.ddb-parright:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 35px 20px;
  border-color: transparent transparent #383838 transparent;
  position: absolute;
  top: 0;
  left: -20px;
}
.ddb-parright:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 20px 0 0;
  border-color: #383838 transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -20px;
}

.ddb-menu{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

/*
  Boxscores Classes
*/
.ddb-boxscores-button{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #ccc;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.ddb-boxscores-button.ddb-left{
  left: 0;
}
.ddb-boxscores-button.ddb-left .ddb-icon{
  position: absolute;
  top: 19px;
  left: -3px;
}
.ddb-boxscores-button.ddb-right{
  right: 0;
}
.ddb-boxscores-button.ddb-right .ddb-icon{
  position: absolute;
  top: 19px;
  right: -2px;
}
.ddb-boxscores-button .ddb-icon{
  font-size: 24px;
}
.ddb-boxscores-button.ddb-blue{
  background-color: #4a90e2;
}

.ddb-boxscores-frame{
  position: absolute;
  left: 20px;
  right: 20px;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  line-height: normal;
}
.ddb-boxscores-frame:after{
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 40px;
  height: 100%;
  background: transparent;
  background: -webkit-linear-gradient(left, transparent , #fff);
  background: -o-linear-gradient(right, transparent, #fff);
  background: -moz-linear-gradient(right, transparent, #fff);
  background: linear-gradient(to right, transparent , #fff);
  z-index: 10;
  pointer-events: none;
}
.ddb-boxscores-content{
  height: 100%;
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 0.5s;
}
.ddb-boxscores-content>li{
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.ddb-boxscores-content>li>div{
  display: inline-block;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  vertical-align: top;
  height: 100%;
}
.ddb-boxscores-content-category{
  background-color: #f2f2f2;
  width: 100px;
  text-align: center;
  line-height: 60px;
}
.ddb-boxscores-content-category .ddb-title{
  font-size: 14px;
  font-weight: 700;
}
.ddb-boxscores-content-category .ddb-link{
  font-size: 12px;
  text-decoration: underline;
  color: #000;
}
.ddb-boxscores-content-game{
  width: 100px;
  background-color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}
.ddb-boxscores-content-game .ddb-grey{
  color: #999;
}
.ddb-boxscores-content-game-link{
  display: block;
  padding: 7px 10px 0 10px;
  text-decoration: none;
  color: #000;
}
.ddb-boxscores-content-game-link:hover{
  color: #000;
}
.ddb-boxscores-content-game-teams{
  text-align: left;
  white-space: normal;
}
.ddb-boxscores-content-game-teams .ddb-icon-football{
  color: #4a90e2;
  font-size: 10px;
  margin-left: 4px;
}
.ddb-boxscores-content-game-score{
  float: right;
}
.ddb-boxscores-content-game-bottom{
  font-weight: 400;
  display: inline-block;
  margin-top: 2px;
  color: #444;
}
.ddb-boxscores-content-game-bottom .ddb-icon{
  font-size: 14px;
}


/*
  Mobile Nav Classes
*/
@media(min-width: 640px){
  .ddb-mobile-layout{
    display: none;
  }
}
.ddb-mobile-menu{
  width: 30px;
  height: 35px;
  border: none;
  background-color: #383838;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.ddb-mobile-menu.ddb-right{
  float: right;
}
#ddb-mobile-menu{
  background-color: #4a90e2;
}
#ddb-mobile-menu i:before{
  font-family: deepdive-bar;
  content: '\6b';
}
#ddb-mobile-menu.ddb-mobile-menu-open i:before{
  content: '\6c';
}

#ddb-mobile-search i:before{
  font-family: deepdive-bar;
  content: '\6e';
}
#ddb-mobile-search.ddb-mobile-search-open i:before{
  content: '\6c';
}

.ddb-mobile-dropdown{
  position: absolute;
  top: 35px;
  background-color: #383838;
  width: 100%;
  display: none;
  z-index: 100000;
}
.ddb-mobile-dropdown#ddb-mobile-search-bar{
  padding: 0 35px;
  box-sizing: border-box;
}

.ddb-mobile-dropdown-boxscores{
  height: 60px;
  position: relative;
}

.ddb-mobile-dropdown-list{
  color: #fff;
  font-size: 16px;
}
.ddb-mobile-dropdown-list .ddb-icon{
  color: #4a90e2;
}
.ddb-mobile-dropdown-item{
  background-color: #000;
  position: relative;
}
.ddb-mobile-dropdown-item:after{
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-color: #272727;
}
.ddb-mobile-dropdown-item .ddb-icon{
  margin: 0 10px 0 0;
}
.ddb-mobile-dropdown-tier1{
  padding: 8px 10px;
  position: relative;
  cursor: pointer;
}
.ddb-mobile-dropdown-item:last-child>.ddb-mobile-dropdown-tier1{
  box-shadow: none;
}
.ddb-mobile-dropdown-tier1 .ddb-toggle{
  position: absolute;
  color: #fff;
  top: 13px;
  right: 25px;
  font-style: normal;
  font-size: 14px;
}
.ddb-mobile-dropdown-tier1 .ddb-toggle:before{
  content: '\71';
  font-family: deepdive-bar;
}

.ddb-mobile-dropdown-tier1.ddb-tier1-show .ddb-toggle:before{
  content: '\6c';
}
.ddb-mobile-dropdown-tier1.ddb-tier1-show + .ddb-mobile-dropdown-tier2{
  display: block;
}

.ddb-mobile-dropdown-tier2{
  background-color: #272727;
  display: none;
}
.ddb-mobile-dropdown-tier2-item a{
  padding: 8px 0 8px 38px;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: block;
}
.ddb-mobile-dropdown-tier2-item .ddb-icon{
  margin: 0 10px 0 0;
}

.ddb-mobile-dropdown-search{
  height: 25px;
  width: 100%;
  margin: 15px 0;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.ddb-mobile-dropdown-search:after{
  content: '\6e';
  font-family: deepdive-bar;
  position: absolute;
  top: 4px;
  right: 10px;
  color: #4a90e2;
  pointer-events: none;
}
.ddb-mobile-dropdown-search input{
  width: 100%;
  height: 100%;
  padding: 0 35px 0 15px;
  border: none;
  font-size: 12px;
  font-family: Lato;
  box-sizing: border-box;
}

/*
  Tablet/Desktop Nav Classes
*/

.ddb-menu-nav{
  display: none;
  margin-left: 15px !important;
  color: #fff;
  height: 35px;
  line-height: 35px;
  /* Remove white space between inline items */
  font-size: 0;
}
@media(min-width: 640px){
  .ddb-menu-nav{
    display: inline-block;
  }
}
.ddb-menu-nav>li{
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 15px;
  height: 35px;
  position: relative;
  font-size: 14px;
}
.ddb-menu-nav>li.ddb-blue{
  background-color: #4a90e2;
  padding: 0 10px;
}
.ddb-menu-nav>li:hover{
  font-weight: 700;
}
.ddb-menu-nav>li>.ddb-icon{
  font-weight: 400;
}
.ddb-menu-nav>li#ddb-dropdown-boxscores{
  padding: 0;
}
/*.ddb-menu-nav>li:hover .ddb-menu-dropdown{
  display: block;
}*/
#ddb-dropdown-boxscores-button{
  padding: 0 10px;
  background-color: #4a90e2;
}
#ddb-dropdown-boxscores-button.ddb-desktop-boxscores-open .ddb-icon:before{
  content: '\6c';
}

.ddb-menu-nav-dynamic{
  padding: 8px 0 0 0;
  position: absolute;
  width: 640px;
  display: none;
  top: 34px;
  cursor: initial;
  text-transform: none;
  font-weight: normal;
  z-index: 100000;
}
.ddb-menu-nav-dynamic#ddb-dynamic-mlb:after{
  left: 209px;
}
.ddb-menu-nav-dynamic#ddb-dynamic-nba:after{
  left: 267px;
}
.ddb-menu-nav-dynamic#ddb-dynamic-ncaam:after{
  left: 338px;
}
.ddb-menu-nav-dynamic#ddb-dynamic-nfl:after{
  left: 408px;
}
.ddb-menu-nav-dynamic#ddb-dynamic-ncaaf:after{
  left: 475px;
}
.ddb-menu-nav-dynamic:hover{
  display: block;
}
.ddb-menu-nav-dynamic:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
  position: absolute;
  top: 1px;
  left: 0;
}
/*Deprecated - Ad removed from dropdown*/
/*@media(min-width: 978px){
  .ddb-menu-nav-dynamic{
    width: 978px;
  }
}*/
.ddb-menu-nav-dynamic.ddb-hover{
  display: block;
}

.ddb-menu-dropdown{
  padding: 8px 0 0 0;
  position: absolute;
  width: 640px;
  display: none;
  top: 34px;
  cursor: initial;
  text-transform: none;
  font-weight: normal;
  z-index: 100000;
}
@media(min-width: 978px){
  .ddb-menu-dropdown{
    width: 978px;
  }
}
.ddb-menu-dropdown:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
  position: absolute;
  top: 1px;
  left: 0;
}

/* Dropown Positioning Classes */
.ddb-menu-dropdown#mlb-dropdown{
  left: -186px;
}
.ddb-menu-dropdown#mlb-dropdown:after{
  left: 210px;
}
.ddb-menu-dropdown#nba-dropdown{
  left: -244px;
}
.ddb-menu-dropdown#nba-dropdown:after{
  left: 267px;
}
.ddb-menu-dropdown#ncaam-dropdown{
  left: -303px;
}
.ddb-menu-dropdown#ncaam-dropdown:after{
  left: 340px;
}
.ddb-menu-dropdown#nfl-dropdown{
  left: -387px;
}
.ddb-menu-dropdown#nfl-dropdown:after{
  left: 409px;
}
.ddb-menu-dropdown#ncaaf-dropdown{
  left: -443px;
}
.ddb-menu-dropdown#ncaaf-dropdown:after{
  left: 477px;
}

.ddb-menu-dropdown#ddb-boxscores-dropdown{
  left: -15px;
}
.ddb-menu-dropdown#ddb-boxscores-dropdown:after{
  left: 103px;
}
.ddb-menu-dropdown#ddb-boxscores-dropdown:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #f2f2f2 transparent;
  position: absolute;
  top: 2px;
  left: 104px;
  z-index: 10;
}

.ddb-menu-dropdown-container{
  background-color: #fff;
  border: 1px solid #000;
  position: relative;
  min-height: 307px;
}
#ddb-boxscores-dropdown .ddb-menu-dropdown-container{
  height: 60px;
  min-height: 60px;
  background-color: #f2f2f2;
}
.ddb-menu-dropdown-events{
  float: left;
  width: 140px;
  height: 100%;
  line-height: 58px;
  position: relative;
  background-color: #f2f2f2;
}
.ddb-menu-dropdown-events.ddb-active{
  width: 415px;
}
.ddb-menu-dropdown-events.ddb-active + .ddb-menu-dropdown-boxscores{
  left: 415px;
}
.ddb-menu-dropdown-events-button{
  padding: 5px 6px;
  margin: 15px 10px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  width: 120px;
}
.ddb-menu-dropdown-events-button .ddb-icon{
  font-size: 14px;
}
.ddb-menu-dropdown-events.ddb-active .ddb-menu-dropdown-events-button{
  color: #fff;
  background-color: #4f95e6;
  border-color: #4f95e6;
}
.ddb-menu-dropdown-events.ddb-active .ddb-menu-dropdown-events-button .ddb-icon{
  font-size: 12px;
}
.ddb-menu-dropdown-events.ddb-active .ddb-menu-dropdown-events-button .ddb-icon:before{
  content: '\6c';
}

.ddb-menu-dropdown-events-options{
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 140px;
  right: 0;
  line-height: normal;
  padding: 5px 0 0 0;
  box-sizing: border-box;
}
.ddb-menu-dropdown-events.ddb-active .ddb-menu-dropdown-events-options{
  display: inline-block;
}
.ddb-menu-dropdown-events-options-title{
  font-weight: 700;
  font-size: 12px;
  color: #000;
  margin-bottom: 6px;
}
.ddb-menu-dropdown-events-options-list{
  font-size: 12px;
}
.ddb-menu-dropdown-events-options-list li{
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
  width: 55px;
  padding: 2px 0;
  margin: 0 2px;
  cursor: pointer;
}
.ddb-menu-dropdown-events-options-list li:first-child{
  margin: 0 2px 0 0;
}
.ddb-menu-dropdown-events-options-list li:hover{
  border-color: #5499eb;
}
.ddb-menu-dropdown-events-options-list li.ddb-active{
  background-color: #5499eb;
  color: #fff;
  border-color: #5499eb;
}

.ddb-menu-dropdown-boxscores{
  position: absolute;
  left: 140px;
  top: 0;
  right: 0;
  bottom: 0;
}

.ddb-menu-dropdown-nav{
  position: absolute;
  width: 145px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  font-size: 14px;
}
.ddb-menu-dropdown-nav li{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  line-height: normal;
}
.ddb-menu-dropdown-nav li:hover{
  background-color: #4a90e2;
}
.ddb-menu-dropdown-nav li:hover:after{
  background-color: #4a90e2;
}
.ddb-menu-dropdown-nav li:hover .ddb-icon{
  color: #fff;
}
.ddb-menu-dropdown-nav li:after{
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-color: #454545;
}
.ddb-menu-dropdown-nav li .ddb-icon{
  margin-right: 5px;
  color: #4a90e2;
  font-size: 16px;
}
.ddb-menu-dropdown-nav a{
  padding: 8px 8px 8px 13px;
  text-decoration: none;
  display: block;
  height: 100%;
  color: #fff;
  cursor: pointer;
}
.ddb-menu-dropdown-content{
  margin-left: 145px;
  color: #000;
  padding: 20px;
}
.ddb-menu-dropdown-content:before{
  display: table;
}
.ddb-menu-dropdown-content:after{
  content: '';
  clear: both;
  display: table;
}

.ddb-menu-dropdown-links{
  width: 100%;
  display: inline-block;
  line-height: normal;
}
/*Deprecated - Used when ad is in drodown */
/*@media(min-width: 978px){
  .ddb-menu-dropdown-links{
    width: 465px;
  }
}*/
.ddb-menu-dropdown-links-title{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.ddb-menu-dropdown-links-subtitle{
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 15px 0;
  padding: 0;
  text-transform: none;
}
.ddb-menu-dropdown-links-subtitle i{
  color: #4a90e2;
}

.ddb-menu-dropdown-table{
  width: 100%;
  line-height: normal;
  margin-bottom: 15px;
}
.ddb-menu-dropdown-table thead td {
  color: #266dc1;
  font-weight: 700;
  text-transform: uppercase;
}
.ddb-menu-dropdown-table tbody td {
  font-size: 12px;
  padding: 3px 0;
  vertical-align: top;
}
.ddb-menu-dropdown-table tbody td a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.ddb-menu-dropdown-table tbody td a:hover{
  font-weight: 700;
}
.ddb-menu-dropdown-table.ddb-col-3 tr td{
  width: 33.3%;
}
.ddb-menu-dropdown-table.ddb-col-4 tr td{
  width: 25%;
}

.ddb-menu-dropdown-all{
  border: solid 1px #4a90e2;
  padding: 5px;
  text-align: center;
  color: #4a90e2;
  width: 100%;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 20px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}
.ddb-menu-dropdown-all:hover{
  background-color: #4a90e2;
  color: #fff;
}

.ddb-menu-dropdown-ad{
  width: 300px;
  height: 250px;
  /*background-color: #f34646;*/
  margin: 0 auto;
  position: relative;
  margin-bottom: 17px;
}
.ddb-menu-dropdown-ad:after{
  content: 'ADVERTISEMENT';
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  color: #999;
}
/*Deprecated - Ad removed*/
/*@media(min-width: 978px){
  .ddb-menu-dropdown-ad{
    float: right;
  }
}*/

.ddb-menu-options{
  display: none;
  float: right;
  margin-right: 20px;
}
@media(min-width: 640px){
  .ddb-menu-options{
    display: block;
  }
}

.ddb-menu-search-dropdown{
  position: absolute;
  top: 35px;
  width: 100%;
  padding: 0 35px;
  background-color: #383838;
  display: none;
  box-sizing: border-box;
  z-index: 100000;
}
@media(max-width: 639px){
  .ddb-menu-search-dropdown{
    display: none !important;
  }
}
@media(min-width: 992px){
  .ddb-menu-search-dropdown{
    display: none !important;
  }
}
#ddb-small-desktop-search-dropdown{
  margin: 0 -35px;
  display: block;
  width: 100%;
}
#ddb-small-desktop-search-dropdown li a{
  padding: 12px 20px;
}
#ddb-small-desktop-search-dropdown li.ddb-no-results{
  padding: 12px 20px;
}

.ddb-menu-search{
  color: #fff;
  width: 30px;
  height: 35px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
@media(min-width: 992px){
  .ddb-menu-search{
    display: none;
  }
}

#ddb-small-desktop-search .ddb-icon:before{
  font-family: deepdive-bar;
  content: '\6e';
}
#ddb-small-desktop-search.ddb-small-desktop-search-open .ddb-icon:before{
  content: '\6c';
}

.ddb-menu-search-large{
  width: 250px;
  height: 25px;
  border-radius: 25px;
  border: none;
  position: relative;
  display: none;
  margin-top: 5px;
}
@media(min-width: 992px){
  .ddb-menu-search-large{
    display: inline-block;
  }
}
.ddb-menu-search-large input{
  width: 100%;
  height: 100%;
  padding: 0 35px 0 15px;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  font-family: Lato;
}
.ddb-menu-search-large:after{
  content: '\6e';
  font-family: deepdive-bar;
  position: absolute;
  top: 4px;
  right: 10px;
  color: #4a90e2;
  pointer-events: none;
}

/* Mobile Search */

.ddb-search-dropdown{
  position: absolute;
  text-align: left;
  background-color: #fff;
  display: none;
  z-index: 100000;
  border-bottom: 1px solid #383838;
}

#ddb-mobile-search-bar .ddb-search-dropdown{
  font-size: 14px;
}
#ddb-search-mobile-dropdown{
  margin: 0 -35px;
  width: 100%;
  display: block;
}
#ddb-search-mobile-dropdown li a, #ddb-search-mobile-dropdown .ddb-no-results{
  padding: 12px 20px;
  border-bottom: 1px solid #ccc;
}

/* Desktop Search */
.ddb-menu-search-large .ddb-search-dropdown{
  top: 37px;
  min-width: 100%;
  right: 0;
  border: 1px solid #000;
  font-size: 12px;
}
.ddb-menu-search-large .ddb-search-dropdown:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #000 transparent;
  position: absolute;
  top: -8px;
  right: 117px;
  z-index: 10;
}
#ddb-search-desktop::-ms-clear {
  display: none;
}
.ddb-search-active a{
  color: #fff !important;
  background-color: #4a90e2;
}
.ddb-search-active a .ddb-icon{
  color: #fff !important;
}
.ddb-search-dropdown li a{
  display: block;
  padding: 6px 4px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ddb-search-dropdown li a:hover{
  color: #fff;
  background-color: #4a90e2;
}
.ddb-search-dropdown li a:hover .ddb-icon{
  color: #fff
}
.ddb-search-dropdown li .ddb-icon{
  margin-right: 4px;
  color: #4a90e2;
  font-size: 14px;
}

.ddb-search-dropdown li.ddb-no-results{
  padding: 4px;
}

.ddb-menu-ticker{
  height: 35px;
  display: none;
  color: #fff;
  font-size: 12px;
  background-color: #383838;
  padding-top: 6px;
  box-sizing: border-box;
}
@media(min-width: 1280px){
  .ddb-menu-ticker{
    display: inline-block;
  }
}
.ddb-menu-ticker-title{
  display: inline-block;
  padding: 5px 0 0 0;
  margin: 0 5px 5px 5px;
  font-weight: 400;
  box-sizing: content-box;
  border-bottom: 2px solid #44b224;
}
.ddb-menu-ticker-container{
  display: inline-block;
  width: 310px;
  padding: 5px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
}
.ddb-menu-ticker-container:before{
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 20px;
  height: 100%;
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #383838 , transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #383838, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #383838, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #383838 , transparent); /* Standard syntax */
  z-index: 10;
  pointer-events: none;
}
.ddb-menu-ticker-container:after{
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 20px;
  height: 100%;
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, transparent , #383838); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, transparent, #383838); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, transparent, #383838); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, transparent , #383838); /* Standard syntax */
  z-index: 10;
  pointer-events: none;
}
.ddb-menu-ticker-content{
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;
  white-space: nowrap;
}
@media(min-width: 1280px){
  .ddb-menu-ticker-content.ddb-ticker-animation{
    -webkit-animation: ddbmarquee 30s linear infinite;
    animation: ddbmarquee 30s linear infinite;
  }
}
.ddb-menu-ticker-content.ddb-ticker-animation:hover{
  animation-play-state: paused;
}
.ddb-menu-ticker-separator{
  /*display: inline-block;*/
  margin: 0 16px;
}
.ddb-menu-ticker-link{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.ddb-menu-ticker-link:hover{
  color: #fff;
  text-decoration: underline;
}

@keyframes ddbmarquee{
  /*0% {text-indent: 100%;}
  100% {text-indent: -100%;}*/
  0% {transform: translate(0, 0);}
  100% {transform: translate(-100%, 0);}
}
@-webkit-keyframes ddbmarquee{
  /*0% {text-indent: 100%;}
  100% {text-indent: -100%;}*/
  0% {transform: translate(0, 0);}
  100% {transform: translate(-100%, 0);}
}
