a:hover {
    color: #902d8e;
}
#verticalName {
  background-color: #902d8e;
}
.dw-nav{
    background-color: #902d8e!important;
}
.dw-btn:hover,
.dw-nav:hover {
    background-color: black!important;
    border-color: black!important;
}

#homelink>div {
    background-image: url(../css/public/Disaster_Icon.svg);
}

.dw-btn {
    border-color: #902d8e!important;
    background-color: #902d8e !important;
    color: white!important;
}
#next-list-link .dw-btn{
  border-color: #902d8e!important;
  background-color: white !important;
  color: #902d8e!important;
  fill: #902d8e;
  stroke: #902d8e;
}
#next-list-link .dw-btn:hover{
  border-color: black!important;
  background-color: black !important;
  color: white!important;
  fill: white;
  stroke: white
}

.bg-img .dw-btn {
    border-color: #f2f2f2!important;
    background-color: #f2f2f2 !important;
    color: #902d8e!important;
    fill: #902d8e;
    stroke: #902d8e;
}

.bg-img .dw-btn:hover {
  background-color: #272727!important;
  border-color: #272727!important;
  color: white!important;
  fill: white;
  stroke: white;
}

.bg-img #next-list-link .dw-btn{
  border-color: white!important;
  background-color: transparent !important;
  color: white!important;
  fill: white;
  stroke: white;
}
.bg-img #next-list-link .dw-btn:hover{
  border-color: #272727!important;
  background-color: #272727 !important;
  color: white!important;
  fill: white;
  stroke: white
}

.hover {
    background: rgba(144,45,142,0.85)!important;
