html, body {
    margin: 0 !important;
    font-family: Lato, sans-serif;
    width: 100%;
    height: auto;
    background-color: white;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

sup {
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
}

.noclick {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.small {
    visibility: hidden;
}

.large {
    visibility: visible;
}

.billboard {
    width: 720px;
    height: 460px;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.header {
    background-color: #f2f2f2;
    width: 100%;
    height: 49px;
}

.header-team {
    height: 49px;
    width: 70px;
    position: absolute;
    border-top: 49px solid #e1e1e1;
    border-right: 25px solid #f2f2f2;
}

.header-home {
    margin-left: 75px;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    line-height: 45px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.header-teams {
    color: #000;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    line-height: 45px;
    padding-left: 22px;
}
.teams-hide {
    display: none;
}
.header-date {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    line-height: 45px;
    padding-left: 22px;
}

.main {
    width: 480px;
    height: 410px;
    float: left;
    position: relative;
}

.main-top {
    width: 479px;
    height: 205px;
}

.main-top-image {
    background-color: #f2f2f2;
    width: 180px;
    height: 120px;
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-top-title {
    width: 250px;
    height: 105px;
    color: #000;
    font-size: 24px;
    line-height: 1em;
    font-weight: 800;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 215px;
}

a:hover .main-top-title {
    color: rgba(45, 62, 50, 0.75);
}

a:hover .main-top-image {
    background-color: rgba(45, 62, 50, 0.75);
}

a:hover .main-bottom-title {
    color: rgba(45, 62, 50, 0.75);
}

a:hover .main-bottom-image {
    background-color: rgba(45, 62, 50, 0.75);
}

a:hover .view-container {
    display: block;
    background-color: rgba(45, 62, 50, 0.75);
}

a:hover .read-more {
    color: rgba(45, 62, 50, 0.75);
}

.view-container {
    position: relative;
    width: 180px;
    height: 120px;
    display: none;
}

.view-article {
    color: #fff;
    margin: 0 auto;
    height: 28px;
    width: 120px;
    padding-bottom: 2px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 45px;
}

.view-article:after {
    content: 'View Article';
}

.read-more {
    color: #3098ff;
    font-size: 10px;
    font-weight: 800;
    position: relative;
    top: 20px;
    left: 35px;
}

.main-top-event {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: absolute;;
    width: 262px;
    top: 126px;
    left: 215px;
}

.main-top-event-data {
    font-weight: 800;
}

.main-top-description {
    width: 445px;
    height: 43px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    border-left: 3px solid #f2f2f2;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 27px;
    padding-left: 5px;
}

.main-bottom {
    width: 479px;
    height: 203px;
}

.main-bottom-image {
    background-color: #f2f2f2;
    width: 180px;
    height: 120px;
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bottom-title {
    width: 245px;
    height: 105px;
    color: #000;
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    text-align: left;
    position: absolute;
    bottom: 78px;
    left: 215px;
}

.main-bottom-event {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: absolute;
    width: 262px;
    bottom: 60px;
    left: 215px;
}

.main-bottom-event-data {
    font-weight: 800;
}

.main-bottom-description {
    width: 445px;
    height: 43px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    border-left: 3px solid #f2f2f2;
    display: inline-block;
    position: relative;
    top: 30px;
    left: 27px;
    padding-left: 5px;
}

.main-hr {
    border-bottom: 1px solid rgba(167, 167, 167, 0.5);
    width: 460px;
    margin-left: 8px;
}

.news {
    width: 240px;
    height: 411px;
    float: right;
    position: relative;
    -moz-box-shadow: -10px 0 30px 0 rgba(167, 167, 167, 0.5);
    -webkit-box-shadow: -10px 0 30px 0 rgba(167, 167, 167, 0.5);
    box-shadow: -5px 0 30px 0 rgba(167, 167, 167, 0.5);
    overflow: hidden;
}

.news-profile {
    float: left;
    height: 125px;
    width: 240px;
}

.news-profile-image-left {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, .25);
    width: 65px;
    height: 65px;
    position: relative;
    top: 15px;
    left: 15px;
    float: left;
    background-position: center;
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
}

.news-profile-image-right {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, .25);
    width: 65px;
    height: 65px;
    position: absolute;
    top: 15px;
    right: 15px;
    float: right;
    background-position: center;
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
}

.team-container {
    display: none;
    background-color: rgba(45, 62, 50, 0.75);
    width: 59px;
    height: 59px;
    border-radius: 50%;
    position: relative;
}

.team-share {
    color: #fff;
    position: relative;
    left: 22px;
    top: 22px;
}

a:hover .team-container {
    display: block;
}

.news-profile-vs {
    border-radius: 50%;
    border-width: 1px;
    border-color: #fff;
    color: #fffefe;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    border-style: solid;
    background-color: #000000;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 107px;
    top: 48px;
    padding-top: 5px;
}

.news-profile-left {
    width: 100px;
    height: 45px;
    float: left;
    position: relative;
    top: 20px;
    clear: both;
}

.news-profile-team1 {
    color: #fffefe;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.news-profile-record {
    color: #fffefe;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.news-profile-record1 {
    color: #fffefe;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.news-profile-right {
    width: 95px;
    height: 45px;
    float: right;
    position: relative;
    top: 20px;
}

.news-profile-team2 {
    color: #fffefe;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.news-profile-record {
    color: #fffefe;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.news-profile-record2 {
    color: #fffefe;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

.news-notification {
    width: 100%;
    height: 32px;
    background-color: #ebebeb;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    clear: both;
}

.news-updates {
    width: 100%;
    height: 200px;
}

.news-container a, img {
    display: block;
    width: 100%;
    color: #000;
}

a:hover .news-title {
    color: rgba(45, 62, 50, 0.75);
}

a:hover .news-image {
    background-color: rgba(45, 62, 50, 0.75);
}

a:hover .news-share-container {
    display: block;
    background-color: rgba(45, 62, 50, 0.75);
}

.news-share-container {
    display: none;
    width: 55px;
    height: 40px;
    position: absolute;
    left: 10px;
    margin-top: 10px;
}

.news-share {
    color: #fff;
    position: relative;
    left: 20px;
    top: 12px;
}

.news-image {
    border: 1px solid #ebebeb;
    background-color: #f2f2f2;
    width: 55px;
    height: 40px;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
    background-position: center;
    background-size: contain;
}

.news-title {
    font-size: 12px;
    line-height: 12px;
    font-weight: 800;
    text-align: left;
    float: right;
    position: relative;
    width: 165px;
    top: 10px;
    padding-right: 5px;
}

.news-time {
    color: #999;
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 6px;
    left: 20px;
    display: inline-block;
}

.news-hr {
    border-bottom: 1px solid rgba(167, 167, 167, 0.5);
    width: 220px;
    margin: 0 auto;
    position: relative;
    padding-top: 15px;
}

.buttons {
    width: 240px;
    height: 24px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.news-button-up {
    background-color: #f2f2f2;
    width: 120px;
    height: 24px;
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    float: left;
    cursor: pointer !important;
}

.news-button-down:hover, .news-button-up:hover {
    background-color: #000;
    color: #fff;
}

.news-button-down {
    background-color: #ebebeb;
    width: 120px;
    height: 24px;
    color: #666;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    float: right;
    cursor: pointer !important;
}

.button {
    font-size: 20px !important;
    color: inherit;
    position: relative;
    top: 2px;
    left: 3px;
}

@media (min-width: 520px) and (max-width: 719px) {
    .small {
        visibility: hidden;
    }

    .large {
        visibility: visible;
    }

    .billboard {
        width: 520px;
        height: 399px;
    }

    .header {
        height: 45px;
    }

    .header-team {
        height: 45px;
        border-top: 45px solid #e1e1e1;
    }

    .header-home {
        font-size: 16px;
        line-height: 45px;
    }

    .header-recent {
        font-size: 16px;
        padding-left: 13px;
    }

    .main {
        width: 320px;
        height: 354px;
    }

    .main-top {
        width: 298px;
        height: 175px;
    }

    .main-top-image {
        width: 101px;
        height: 76px;
        top: 13px;
        left: 13px;
    }

    .view-container {
        width: 101px;
        height: 76px;
    }

    .view-article {
        height: 25px;
        width: 65px;
        top: 25px;
    }

    .view-article:after {
        content: 'View';
    }

    .main-top-title {
        width: 190px;
        height: 76px;
        font-size: 20px;
        line-height: 20px;
        top: 13px;
        left: 125px;
    }

    .read-more {
        top: 15px;
        left: 21px;
    }

    .main-top-event {
        display: none;
    }

    .main-top-event-data {
        display: none;
    }

    .main-top-description {
        width: 300px;
        height: 56px;
        font-size: 12px;
        line-height: 15px;
        top: 25px;
        left: 13px;
    }

    .main-bottom {
        width: 298px;
        height: 175px;
    }

    .main-bottom-image {
        width: 101px;
        height: 76px;
        top: 13px;
        left: 13px;
    }

    .main-bottom-title {
        width: 190px;
        height: 76px;
        font-size: 20px;
        line-height: 20px;
        bottom: 90px;
        left: 125px;
    }

    .main-bottom-event {
        display: none;
    }

    .main-bottom-event-data {
        display: none;
    }

    .main-bottom-description {
        width: 300px;
        height: 56px;
        font-size: 12px;
        line-height: 15px;
        top: 25px;
        left: 13px;
    }

    .main-hr {
        width: 302px;
    }

    .news {
        width: 200px;
        height: 354px;
    }

    .news-profile {
        height: 114px;
        width: 200px;
    }

    .news-profile-image-left {
        width: 50px;
        height: 50px;
        top: 15px;
        left: 24px;
    }

    .news-profile-image-right {
        width: 50px;
        height: 50px;
        top: 15px;
        right: 24px;
    }

    a:hover .news-share-container {
        display: none;
    }

    .team-container {
        width: 44px;
        height: 44px;
    }

    .team-share {
        left: 15px;
        top: 15px;
    }

    .news-profile-vs {
        width: 20px;
        height: 20px;
        left: 90px;
        top: 33px;
        padding-top: 0;
    }

    .news-profile-left {
        width: 100px;
        height: 44px;
    }

    .news-profile-right {
        width: 100px;
        height: 44px;
    }

    .news-notification {
        font-size: 12px;
        width: 100%;
    }

    .news-updates {
        width: 100%;
        height: 200px;
    }

    .news-image {
        display: none;
    }

    .news-title {
        width: 190px;
    }

    .news-time {
        left: 10px;
    }

    .news-hr {
        width: 180px;
        /*needed to override javascript*/
        padding-top: 15px !important;
    }

    .buttons {
        width: 200px;
    }

    .news-button-up {
        width: 100px;
    }

    .news-button-down {
        width: 100px;
    }
}

@media (min-width: 0) and (max-width: 519px) {
    .small {
        visibility: visible;
    }

    .large {
        visibility: hidden;
    }

    .teams-hide {
        display: none;
    }

    .billboard {
        width: 320px;
        height: 761px;
    }

    .header {
        text-align: center;
    }

    .main {
        width: 100%;
        height: 350px;
    }

    .main-top {
        width: 298px;
        height: 175px;
        position: relative;
        top: 125px;
    }

    .main-top-image {
        width: 101px;
        height: 76px;
        top: 13px;
        left: 13px;
    }

    .view-container {
        width: 101px;
        height: 76px;
    }

    .view-article {
        height: 25px;
        width: 65px;
        top: 25px;
    }

    .view-article:after {
        content: 'View';
    }

    .main-top-title {
        width: 190px;
        height: 76px;
        font-size: 20px;
        line-height: 20px;
        top: 13px;
        left: 125px;
    }

    .read-more {
        top: 15px;
        left: 21px;
    }

    .main-top-event {
        display: none;
    }

    .main-top-event-data {
        display: none;
    }

    .main-top-description {
        width: 300px;
        height: 56px;
        font-size: 12px;
        line-height: 15px;
        top: 25px;
        left: 13px;
    }

    .main-bottom {
        width: 298px;
        height: 175px;
        position: relative;
        top: 125px;
    }

    .main-bottom-image {
        width: 101px;
        height: 76px;
        top: 13px;
        left: 13px;
    }

    .main-bottom-title {
        width: 190px;
        height: 76px;
        font-size: 20px;
        line-height: 20px;
        top: 13px;
        left: 125px;
    }

    .main-bottom-event {
        display: none;
    }

    .main-bottom-event-data {
        display: none;
    }

    .main-bottom-description {
        width: 300px;
        height: 56px;
        font-size: 12px;
        line-height: 15px;
        top: 25px;
        left: 13px;
    }

    .main-hr {
        width: 302px;
        position: relative;
        top: 125px;
    }

    .news {
        width: 100%;
        height: 125px;
    }

    .news-profile {
        height: 125px;
        width: 320px;
        position: absolute;
        top: 49px
    }

    .news-profile-image-left {
        width: 75px;
        height: 75px;
        top: 10px;
        left: 33px;
    }

    .news-profile-image-right {
        width: 75px;
        height: 75px;
        top: 10px;
        right: 33px;
    }

    .team-container {
        width: 69px;
        height: 69px;
    }

    .team-share {
        left: 24px;
        top: 24px;
        font-size: 24px !important;
    }

    .news-profile-vs {
        width: 28px;
        height: 28px;
        left: 145px;
        top: 48px;
        padding-top: 5px;
    }

    .news-profile-left {
        width: 140px;
        height: 35px;
        top: 15px;
    }

    .news-profile-right {
        width: 140px;
        height: 35px;
        top: 15px;
    }

    .news-notification {
        width: 320px;
        font-size: 16px;
        position: absolute;
        bottom: 204px;
    }

    .news-updates-small {
        width: 320px;
        height: 200px;
        position: absolute;
        bottom: 0px;
        overflow: hidden;
    }

    .news-container {
        top: 10px;
        left: 10px;
    }

    .news-image {
        display: block;
    }

    .news-title {
        width: 250px;
    }

    .news-time {
        left: 15px;
    }

    .news-hr {
        width: 300px;
    }

    .buttons {
        top: 180px;
        width: 320px;
    }

    .news-button-up {
        width: 160px;
    }

    .news-button-down {
        width: 160px;
    }
}
