@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: lato, helvetica;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.icon {
    background-position: 50%;
    background-repeat: no-repeat;
    height: 39px;
    width: 26px;
}

.wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.edge_shader {
    position: absolute;
    right: -5px;
    top: 0;
    width: 3px;
    height: 100%;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 999;
    transition: opacity 0.2s ease-in-out;
}

.title_overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.title_image_div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    border-radius: 2px;
    background-size: 1000% 1000%;
    image-rendering: optimizeSpeed; /*                     */
    image-rendering: -moz-crisp-edges; /* Firefox             */
    image-rendering: -o-crisp-edges; /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast; /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                */
    /*border-bottom: 1px solid rgba(50,50,50,0.1);*/
}

.title_image_div.overlay::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
    background-color: inherit;
}

.title_image {
    width: auto;
    height: 100%;
    background-size: contain;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 200px;
    height: auto;
    white-space: normal;
    padding: 15px 15px;
    font-weight: 900;
    color: #fff;
    font-size: 20px;
    transition: opacity 0.2s ease-in-out;
    z-index: 9;
}

.instructions_container {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.14;
    text-align: left;
    color: #fff;
    left: 30px;
    bottom: 0;
}

.instructions_icon {
    position: relative;
    width: 25px;
    height: 31px;
}

.instructions_text {
    width: 150px;
    opacity: 0.7;
    position: relative;
    left: 34px;
    top: -26px;
    white-space: normal;
    text-transform: uppercase;
}

.pointer {
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    width: 56px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10.5px 5px 10.5px 10px;
    /*font-weight: 300;*/
    font-size: 20px;
    color: white;
    fill: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26), 0 0 0 1px rgba(0, 0, 0, 0.09);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    z-index: 100;
}

.pointer .icon {
    animation: swipe .75s infinite;
}

@keyframes swipe {
    0% {
        -webkit-transform: translateX(12px);
        -moz-transform: translateX(12px);
        -ms-transform: translateX(12px);
        -o-transform: translateX(12px);
        transform: translateX(12px);
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(12px);
        -moz-transform: translateX(12px);
        -ms-transform: translateX(12px);
        -o-transform: translateX(12px);
        transform: translateX(12px);
        opacity: 1;
    }
}

.slider {
    position: relative;
    right: 0;
    width: 100%;
    height: 250px;
    white-space: nowrap;
    background-color: #f7f7f7;
    -ms-overflow-style: none;
    z-index: 15;
    transition: all 0.6s ease-in-out;
}

.slider.stopAnim {
    -webkit-animation: .5s;
    animation: .5s;
}

.list_wrapper{
    height:100%;
    display:inline-block;
}

.slider_block {
    position: relative;
    display: inline-block;
    height: 230px;
    width: 230px;
    margin: 9px 8px;
}

.list_item {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}

.ad_spacer {
    width: 296px;
    height: 100%;
}

.ad_item {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 99;
}

.profile_image_div {
    width: 100%;
    height: 150px;
    display: block;
    overflow: hidden;
    position: absolute;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-size: 1000% 1000%;
    image-rendering: optimizeSpeed; /*                     */
    image-rendering: -moz-crisp-edges; /* Firefox             */
    image-rendering: -o-crisp-edges; /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast; /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+                */
    /*border-bottom: 1px solid rgba(50,50,50,0.1);*/
}

.profile_image_div.fallback::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
    opacity: 0.6;
    background-color: inherit;
}

.profile_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.num {
    position: absolute;
    right: -5px;
    top: -20px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid black;
    transform: rotate(-45deg);
    z-index: 100;
}

.num_text {
    font-size: 10px;
    color: white;
    width: 20px;
    top: -9px;
    right: 8px;
    text-align: center;
    font-weight: 300;
    position: absolute;
    transform: rotate(45deg);
}

.num_text b {
    position: relative;
    top: 2px;
    font-size: 12px;
    font-weight: 900;
}

.info {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 150px;
    display: table;
}

.info .info_container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.name {
    font-size: 14px;
    width: 215px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.symbl, .location {
    font-size: 12px;
    color: #bebebe;
    max-width: 95%;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location {
    margin-bottom: 5px;
    max-width: 95%;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bold{
    font-weight: 900;
}

.value {
    width: 215px;
    font-size: 20px;
    color: #272727;
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.stat_type {
    width: 215px;
    font-size: 12px;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.next_list {
    font-size: 12px;
    position: relative;
    top: -96px;
    width: 56px;
    margin: 0 5px 0 0;
    padding: 80px 10px 88px 10px;
    text-align: center;
    color: white;
}

.next_arrow {
    font-size: 30px;
    margin-bottom: 5px;
}

.slider_ad_zone {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 15;
    display: none;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 3.2s;
    -moz-animation-duration: 3.2s;
    -ms-animation-duration: 3.2s;
    -o-animation-duration: 3.2s;
    animation-duration: 3.2s;
}

.slider_background {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.ad_progress_fill {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    height: 3px;
    background: #000;
    opacity: .1;
}

.ad_progress_bar {
    position: absolute;
    bottom: 2px;
    z-index: 100;
    height: 3px;
    background: #3098ff;
    background: -webkit-linear-gradient(left, #3098ff 0%, #3098ff 0%, #34d4ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3098ff 0%, #3098ff 0%, #34d4ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade_in_out {
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
}
